html body{
	width:100%;
	height:100%;
	border:0;
	margin:0;
	font-size:16px;
}
table {
	border: 1px solid #dedede;
	padding: 0.1rem;
	margin-bottom: 0.1rem;
}
table tr td {
	border-bottom: 1px dotted #dedede;
	padding: 0 0.1rem;
	height: 0.25rem;
	vertical-align: middle;
}
#contextDiv{
	font-size:0.12rem;
	font-weight:bold;
	z-index:99999;
	padding:0.1rem 0.1rem 0 0;
	top:0.59rem;
	right:0.1rem;
	position:fixed;
	float:right;
	height:0.3rem;
	width:6rem;
	text-align:right;
}
#userInfoDiv{
	display:inline-block;
	position:relative;
	font-family:"verdana","幼圆";
}
#contextMenuDiv{
	margin-left:0.2rem;
	display:inline-block;
	position:relative;
}
#headDiv{
	width: 100%;
	height: 0.4rem;
	border: 0;
	display:block;
	line-height:0.4rem;
	border-bottom:1px solid #5d7e8d;
	background: linear-gradient(360deg, #90c8e9, #dce7fa 100%); /* 标准的语法 90度表示从左到右*/
}
#logo{
	height: 0.3rem;
	width: 0.3rem;
	margin: 0.05rem 0.1rem 0 0.1rem;
	float: left;
	background: url(../image/icons/logo.png) no-repeat;
	background-size:contain;
	background-position: center;
	display:inline-block;
    border-radius: 0.05rem;
	box-shadow: 0.01rem 0.01rem 0.05rem #0865a1;
}
#logoText1{
	display:inline-block;
	font-size:0.26rem;
	color:#003366;
	text-shadow:0.01rem 0.01rem 0.04rem #ddefff;
}
#logoText2{
	display:inline;
	font-size:0.16rem;
	color:#003366;
	font-family: "幼圆";
	font-weight: bold;
	margin-left:0.1rem;
	text-shadow:0.01rem 0.01rem 0.01rem #ddefff;
}
.treeControl{
	padding:0 0.1rem;
	overflow:auto;
	height:calc(100vh - 0.51rem);
}
.activeMenu{
	color: #ffffff !important;
	text-decoration: underline;
	background-color:#0470bf;
}
.menuDivShow{
	border:0;
	display:block;
	float:left;
	width:3.5rem;
	height:100%;
	background-attachment:fixed;
	background-position:left bottom;
	border-right:1px solid #5d7e8d;
	position:fixed;
	left:0;
	transition: left 0.2s linear 0s;
	background: linear-gradient(90deg, #f1faff, #cee8f8 50%); /* 标准的语法 90度表示从左到右*/
}
.menuDivHidden{
	border:0;
	display:block;
	float:left;
	width:3.5rem;
	height:100%;
	background-attachment:fixed;
	background-position:left bottom;
	border-right:1px solid #5d7e8d;
	position:fixed;
	left:-4.2rem;
	transition: left 0.2s linear 0s;
}
.workAreaDivMin {
	width: calc(100% - 3.71rem);
	height: calc(100vh - 0.51rem);
	border:0;
	display:block;
	float:right;
	transition: width 0.2s linear 0s;
}
.workAreaDivMax {
	width: calc(100% - 1px);
	height: calc(100vh - 0.6rem);
	border:0;
	display:block;
	float:right;
	transition: width 0.2s linear 0s;
}
#workAreaFrame {
	width: 100%;
	height: 100%;
	border: 0;
	overflow:auto;
	position:relative;
	display:block;
}
.hideMenuIcon{
	display: block;
	width: 0.1rem;
	position: absolute;
	top: calc(50% - 1rem);
	left: 3.5rem;
	z-index: 999;
	cursor: pointer;
	text-align: center;
	height: 1rem;
	line-height: 1.05rem;
	border: 1px solid #878787;
	border-top-right-radius: 0.1rem;
	border-bottom-right-radius: 0.1rem;
	background-position: center center;
	background-size: auto;
	transition: all 0.2s linear 0s;
	opacity: 0.1;
}
.hideMenuIcon:hover{
	opacity: 0.8;
}
.showMenuIcon:hover{
	opacity: 0.8;
}
.showMenuIcon{
	display: block;
	width: 0.1rem;
	position: absolute;
	top: calc(50% - 1rem);
	left: 0;
	z-index: 999;
	cursor: pointer;
	text-align: center;
	height: 1rem;
	line-height: 1.05rem;
	border: 1px solid #878787;
	border-top-right-radius: 0.1rem;
	border-bottom-right-radius: 0.1rem;
	background-position: center center;
	background-size: auto;
	transition: all 0.2s linear 0s;
	opacity: 0.1;
}