<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		100.2、下载插件
	</div>
	<div class="contentDiv">
		<label style="background-color:#ffff00;">请参照下一小节的方法，更新插件后，必须对要刷新，否则eclipse的缓存会导致插件中新的内容不能生效</label>
	</div>
	
	<div class="tabTitleDiv">edk4j大版本1.0.0.RELEASE可用</div>
	<div class="tabTitleLine"></div>
		<table class="across">
				<colgroup>
					<col style="width:4rem;"/>
					<col style="width:3rem;"/>
					<col/>
					<col/>
				</colgroup>
				<thead>
					<tr>
						<th>版本号</th>
						<th>下载</th>
						<th>更新说明</th>
						<th>使用条件</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>edk4j-ide-1.0.0.20210301<br/></td>
						<td style="text-align:center">
							<a href="../../edk4j-appends/edk4j-ide-1.0.0.20210301.zip" target="_blank" download>点此下载</a>
						</td>
						<td>
							更新日期：2021.03.01
						</td>
						<td>
							初始版本
						</td>
					</tr>
			</tbody>
		</table>
</body>
</html>