<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<style type="text/css">
		p{
			text-indent:0.32rem;padding:0.1rem;line-height:0.3rem;letter-spacing: 0.02rem;
		}
	</style>
</head>
<body >
	<div id="title" class="titleDiv">
		100.1、概述
	</div>
	<div class="tabTitleDiv">工欲善其事，必先利其器</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		<p>
			在没有可视化ide时，我们的编码工作都是手工编辑，虽然我们的edk4j平台是“高度可配置化”开发，但是这些“配置”也要手写。
		</p>
		<p>
			可视化ide，是一个帮你写代码的开发工具。
		</p>
		<p>
			可视化ide出现后，我们的开发工作变的如虎添翼，工作效率能提升60%。<br/>
		</p>
	</div>
	<div class="tabTitleDiv">edk4j可视化开发ide</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		<p>
			&#10148;&nbsp;&nbsp;“自动化”生成项目支持文件；
		</p>
		<p>
			&#10148;&nbsp;&nbsp;“托拽”式的编辑api及bpm；
		</p>
		<p>
			&#10148;&nbsp;&nbsp;代码体系结构、api、bpm以绘图形式呈现于编辑器，内容一目了然；
		</p>
		<p>
			&#10148;&nbsp;&nbsp;使开发过程像“画流程图”一样有趣地完成。
		</p>
	</div>
</body>
</html>