<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		100.10、双击、右键、功能按钮
	</div>
	<div class="contentDiv" style="text-indent:0.32rem;">
		<a style="font-weight:bold;">▶&nbsp;&nbsp;（1）</a>在可视化编辑器中，
		“逻辑索引”中的具体业务逻辑、“业务逻辑”中的action、连线、“上下文定义”中的某个字段定义，等等，
		<br/>所有可看见的标的物，你都可以尝试“双击”，一般都会弹出相应的编辑框或修改框。如果“双击”达不到你想要的预期，你再通过“右键”或者“功能按钮”进行操作。
	</div>
	<div class="contentDiv" style="text-indent:0.32rem;">
		<a style="font-weight:bold;">▶&nbsp;&nbsp;（2）</a>对于“业务明细”中的action，双击时首先会在Properties透视图中列出其可编辑的属性<br/>
		如果项目中有该action的源代码，则还会打开这个action类。
	</div>
	<div class="contentDiv" style="text-indent:0.32rem;">
		<a style="font-weight:bold;">▶&nbsp;&nbsp;（3）</a>在打开的bpm文件中，点击“逻辑索引”，双击具体的业务逻辑，则“数据域”和“逻辑流明细”中的内容都会切换到这个业务逻辑。
	</div>
	<div class="contentDiv" style="text-indent:0.32rem;">
		<a style="font-weight:bold;">▶&nbsp;&nbsp;（4）</a>对于“业务明细”中的action，如果项目中有源代码，双击时首先会在Properties透视图中列出其可编辑的属性，其次会打开这个action类。
	</div>
	<div class="contentDiv" style="text-indent:0.32rem;">
		<a style="font-weight:bold;">▶&nbsp;&nbsp;（5）</a>对于api文件中的“具体业务逻辑”引用，双击时会打开其所在的bpm文件<br/>
		有一点要申明：假设testApi指向testBpm.aBL这个业务逻辑，但是此时，testBpm早就被打开了，而且其中加载的是bBL这个业务逻辑。那么，
		此时你双击testApi中的业务逻辑流程引用，确实会把视图切换到testBpm文件中，但是其中的内容不会跟着改变，仍然显示的是bBL业务逻辑中的数据。
	</div>
</body>
</html>