<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		2.1、学习前置条件
	</div>
	<table class="across">
		<tr>
			<td>1、熟悉java语法，熟悉jdk</td>
		</tr>
		<tr>
			<td>2、熟悉eclipse，能熟练集成插件、maven项目编译、打包等功能</td>
		</tr>
		<tr>
			<td>3、至少熟悉tomcat应用服务器</td>
		</tr>
		<tr>
			<td>4、必须掌握数据库的基本概念，掌握SQL基本语法，至少能够使用mysql数据库</td>
		</tr>
		<tr>
			<td>5、熟悉html、css、javascript的基础常识</td>
		</tr>
		<tr>
			<td>6、了解网络通信基础常识，例如：交互原理，http、tcp/ip等通信协议，通信机制等。以便更好的理解接口调用</td>
		</tr>
		<tr>
			<td>7、掌握并理解计算机软件开发中涉及到的一些基础的专业术语</td>
		</tr>
		<tr>
			<td>8、有良好的开发习惯，注重排版，认真注释</td>
		</tr>
	</table>
</body>
</html>