<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>2.2、开发环境要求</title>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			//CodePrettyUtil.escapeInnerHTML('codeShow1', 'codeShow1');
			PR.prettyPrint();
		}
		function openDownloadCenter(){
			window.open("../104/104.2.html", null, getWindowOpenFeature(200,200));
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		2.2、开发环境要求
	</div>
	<div class="tabTitleDiv">服务器要求</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		至少需要：<br>
		（1）数据库服务器，mysql/db2/oracle均可<br>
		（2）redis服务器<br>
		（3）activemq或kafka服务器<br>
		可自行使用虚拟机在本机上搭建linux服务器环境
	</div>
	<div class="tabTitleDiv">开发机硬件要求</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		（1）CPU ：≥2.5Ghz <br>
		（2）硬盘 ：≥500G<br>
		（3）内存 ：≥8G
	</div>
	<div class="tabTitleDiv">开发机必备软件</div>
	<div class="tabTitleLine"></div>
	<table class="across">
		<colgroup><col style="width:2rem;"/><col/></colgroup>
		<tbody>
			<tr><td>操作系统</td><td>win7或win10 LTSB/LTSC</td></tr>
			<tr><td>JDK</td><td>最低1.8</td></tr>
			<tr><td>IDE</td><td>Eclipse4.5或更高版本，或其他Eclipse系列IDE，例如：SpringToolSuit3/4、Myeclipse等。<br>必须集成的插件：maven、EDK可视化开发IDE、subversion或git</td></tr>
			<tr><td>数据库客户端</td><td>navicat或dbeaver</td></tr>
			<tr><td>调用后台插件</td><td>模拟前台提交form或者ajax的工具，例如：Postman 或者 Dev Http Client（chrome插件）</td></tr>
			<tr><td>应用服务器</td><td>tomcat	8.0或更高，推荐8.5.60，不要使用低版本</td></tr>
			<tr><td>Redis客户端工具</td><td>Redis Desktop Manager或其他工具</td></tr>
			<tr><td colspan="2" style="padding-left:5rem;"><a href="javascript:openDownloadCenter();">打开下载中心页面</a></td></tr>
		</tbody>
	</table>
	
	<div class="tabTitleDiv">maven库镜像中添加“edk4j私库镜像”</div>
	<p class="tabTitleLine"></p>
	<table class="across">
		<colgroup>
			<col style="width:5rem;"/>
			<col/>
		</colgroup>
		<thead>
			<tr>
				<th>地址</th>
				<th>在 settings.xml 中的&lt;mirrors&gt;节点中添加</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align:center;font-weight:bold;">
					edk4j私库<br>
					<label style="font-weight:normal;color:#ff0000;font-size:0.14rem;'">（若不使用本库，则无法下载到edk4j平台的依赖包）</label>
					</td>
					<td>
<pre id="codeShow1" class="prettyprint lang-xml" style="font-weight:bold;font-size:0.14rem;line-height:0.2rem;font-family: 'Verdana','微软雅黑','宋体';">
&lt;mirror&gt;
      &lt;id&gt;edk4j-maven-lib&lt;/id&gt;
      &lt;name&gt;edk4j镜像库&lt;/name&gt;
      &lt;url&gt;http://www.edk4j.com/repository/maven-public/&lt;/url&gt;
      &lt;mirrorOf&gt;*&lt;/mirrorOf&gt;        
&lt;/mirror&gt;
</pre>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="subTitleDiv addArrow">
		settings.xml配置文件样例
	</div>
	<div class="subContentDiv addBorder">
<pre id="codeShow3" class="prettyprint lang-xml" style="font-weight:bold;font-size:0.14rem;line-height:0.2rem;font-family: 'Verdana','微软雅黑','宋体';">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"&gt;
	&lt;localRepository&gt;你本地的Maven库路径，例如D:\nexusLib\&lt;/localRepository&gt;
	&lt;pluginGroups&gt;
	&lt;/pluginGroups&gt;

	&lt;proxies&gt;
	&lt;/proxies&gt;

	&lt;servers&gt;
	&lt;/servers&gt;
	&lt;mirrors&gt;
		&lt;!-- 这里可以是贵公司的私库，或者阿里库等私库 --&gt;
		&lt;mirror&gt;
			&lt;id&gt;alimaven&lt;/id&gt;
			&lt;name&gt;阿里库&lt;/name&gt;
			&lt;url&gt;https://maven.aliyun.com/repository/central&lt;/url&gt;
			&lt;mirrorOf&gt;central&lt;/mirrorOf&gt;        
		&lt;/mirror&gt;
		&lt;!-- 
			若贵公司私库里已经对edk4j库做了代理，则下面的mirror不需要添加，
			否则，您必须添加edk4j库，否则无法下载edk4j平台系列依赖 
		--&gt;
		&lt;mirror&gt;
			&lt;id&gt;edk4jMavenLib&lt;/id&gt;
			&lt;name&gt;edk4j库&lt;/name&gt;
			&lt;url&gt;http://www.edk4j.com/repository/maven-public/&lt;/url&gt;
			&lt;mirrorOf&gt;*&lt;/mirrorOf&gt;        
		&lt;/mirror&gt;
		&lt;!-- 
			可能出现的问题：
				（1）在对项目做maven update操作时，会提示：无法从私库下载某依赖
				（2）在run as中进行maven clean或install等操作时，error中会提示parent的relativePath错误
			解决办法：
				（1）先确定网络正常，能顺利连接到edk4j库
				（2）在本地私库文件夹中搜索：*.lastUpdated ，将搜索到的文件全部清理，重新对项目进行maven update即可 
		--&gt;
	&lt;/mirrors&gt;
	&lt;profiles&gt;
	&lt;/profiles&gt;
&lt;/settings&gt;
</pre>
	</div>
</body>
</html>