<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		18.1、配置审计密码
	</div>
	<div class="subTitleDiv">
		审计动作是系统的运维动作，是指，当系统运行时，可以对系统实现热插拔式的维护而不用重启，因此不能让任何人都能审计，必须配置审计密码<br/>
		前面讲述edk4jConfig.properties文件的章节中，有审计密码的配置字段：application.auditPassword=<label style="color:#3f7f7f">你的密码的加密值（默认值为明文audit123456Pass的md5加密值，加密方式未限制，自行处理）</label><br/>
	</div>
</body>
</html>