<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		18.3、动态新增或更新mvc
	</div>
	<div class="contentDiv">
	<p>edk4j支持mvc的可插拔式动态更新，可以动态的添加或者更新mvc，而不需要重启系统。</p>
		<p><strong>请求Url</strong>：<span style="color:#3f5fbf">http://url:port/youSystemName/system/audit/updateMvc</span></p>
		<p><strong>需要用ajax</strong><strong>访问，请求参数样例</strong>：</p>
		<p><span style="color:#3f5fbf">{&quot;auditPassword&quot;:&quot;审计密码加密值&quot;,&quot;mvcConfigFileName&quot;:&quot;someMvc.edk4jMvc&quot;,&quot;requestUrl&quot;:&quot;demo/getCheckCode&quot;}</span></p>
		<p>&nbsp;</p>
		<p><strong>参数说明</strong>：</p>
		<p><span style="color:#3f5fbf">auditPassword </span>必输</p>
		<p><span style="color:#3f5fbf">mvcConfigFileName</span>非必输</p>
		<p><span style="color:#3f5fbf">requestUrl</span>非必输</p>
		<p>当 <span style="color:#3f5fbf">mvcConfigFileName</span>为空而<span style="color:#3f5fbf">requestUrl</span>不为空时，会只更新这一个mvc；当<span style="color:#3f5fbf">requestUrl</span>为空而<span style="color:#3f5fbf">mvcConfigFileName</span>不为空时，会更新配置文件中所有的mvc；当两者都不能空时，会更新这一个mvc。</p>
		返回如下结果表示处理成功：
		<div style="border:1px solid #eeeeee">
			<p>{</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot;<strong>resultCode</strong>&quot;:&quot;<strong><span style="color:#00b050">0</span></strong>&quot;,</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot;<strong>resultMessage</strong>&quot;:&quot;<strong><span style="color:#00b050">ok</span></strong>&quot;,</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot;<strong>timeStamp</strong>&quot;:<strong><span style="color:#00b050">null</span></strong>,</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot;<strong>businessDataObject</strong>&quot;:<strong><span style="color:#00b050">null</span></strong></p>
			<p>}</p>
		</div>
	</div>
</body>
</html>