<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		11.1.1、各profile分开配置
	</div>
	<div class="tabTitleDiv">按profile分开的好处</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		<p style="text-indent:0.32rem;">
			对于application.properties我们提供了按不同的profile进行配置的做法。对于运行日志文件也同样提供了套路，因为，不同环境保存日志的位置一般都不同，而且level要求也不同。
		</p>
		<p style="text-indent:0.32rem;">
			按profile分开配置的好处：对下面标红的部分，你不用每次发布前都手工改一遍。
		</p>
		<div class="subContentDiv">
			<p><span style="color:teal">&lt;</span><span style="color:#3f7f7f">Properties</span><span style="color:teal">&gt;</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:teal">&lt;</span><span style="color:#3f7f7f">Property</span> <span style="color:#7f007f">name</span><span style="color:black">=</span><em><span style="color:#2a00ff">&quot;LOG_HOME&quot;</span></em><span style="color:teal">&gt;</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:black;background-color:#ff0000;"> /home/applicationLogs/yourProjectName-dev</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:teal">&lt;/</span><span style="color:#3f7f7f">Property</span><span style="color:teal">&gt;</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:teal">&lt;</span><span style="color:#3f7f7f">Property</span> <span style="color:#7f007f">name</span><span style="color:black">=</span><em><span style="color:#2a00ff">&quot;PROJECT_NAME&quot;</span></em><span style="color:teal">&gt;</span></p>
			<p><span style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; yourProjectName</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:teal">&lt;/</span><span style="color:#3f7f7f">Property</span><span style="color:teal">&gt;</span></p>
			<p><span style="color:teal">&lt;/</span><span style="color:#3f7f7f">Properties</span><span style="color:teal">&gt;</span></p>
			.....<label style="background:#ff0000;">level="DEBUG"</label>....
		</div>
	</div>
	<div class="tabTitleDiv">按profile分开的套路步骤</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		<div class="item">
			（1）请删除项目中ApplicationBootConfig类中的@PropertySources({ @PropertySource(value = "classpath:application.properties") })；
		</div>
		<div class="item">
			（2）然后按下图的步骤调整资源文件结构：
		</div>
		<div class="subContentDiv">
			<img src="../../image/business/11/11.1.1-1.png"/>
		</div>
		<div class="item">
			（3）在每个application-{profile}.properties文件中，添加logging.config属性，指定其使用的日志配置文件，例如在application-development.properties中添加这句：<br/>
		</div>
		<div class="subContentDiv">
			logging.config = classpath:log4j2/log4j2-development.xml
		</div>
	</div>
</body>
</html>