<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		94.6、内置tomcat配置
	</div>
	<div class="tabTitleDiv">1、通过配置文件设置</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		<div class="subTitleDiv addArrow">在spring-boot的配置文件中设置：</div>
	<pre class="prettyprint lang-properties" id="codeShow1" style="font-weight:bold;color:#3f7f5f;">
#系列配置申明于：org.springframework.boot.autoconfigure.web.ServerProperties#Tomcat
#设置tomcat临时文件夹创建的位置
server.tomcat.basedir=/tomcat_temp/
	</pre>
	</div>
	<div class="tabTitleDiv">2、编程式配置</div>
		<div class="tabTitleLine"></div>
		<div class="contentDiv">
			<div class="subTitleDiv addArrow">生成WebServerFactoryCustomizer实例bean：</div>
	<pre class="prettyprint lang-java" id="codeShow2" style="font-weight:bold;">.
import java.io.File;
import org.springframework.boot.web.embedded.tomcat.TomcatServletWebServerFactory;
import org.springframework.boot.web.server.WebServerFactoryCustomizer;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
/**
 * 内置tomcat配置
 * @author liuxiaosong(shuidrinking@126.com)
 * @since jdk1.8
 * @version 2024年12月2日
 */
@Configuration
public class TomcatConfig {
	@Bean
	public WebServerFactoryCustomizer<TomcatServletWebServerFactory> tomcatCustomizer() {
		return (tomcatServletWebServerFactory) -> {
			//设置tomcat工作文件夹根目录，每次启动都会在此创建一个新的临时工作文件夹，且不会自动删除
			tomcatServletWebServerFactory.setBaseDirectory(new File("/tomcat_tmp/"));
		};
	}
}
	</pre>
		</div>
</body>
</html>