<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript">
		function init(){
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init()">
	<div id="title" class="titleDiv">
		23.1.1、引入依赖包
	</div>
	<div class="contentDiv">
		<pre class="prettyprint lang-xml" id="codeShow1" style="font-weight:bold;color:#3f7f5f;">
&lt;dependency&gt;
	&lt;groupId&gt;com.edk4j&lt;/groupId&gt;
	&lt;artifactId&gt;edk4j-track&lt;/artifactId&gt;
&lt;/dependency&gt;
		</pre>
		<p style="color:#9a3e29;font-weight:bold;">edk4j可视化ide中，新建或者添加edk4j项目支持时，选择“分布式链路跟踪”技术点，ide会在pom.xml中自动添加上面的依赖</p>
	</div>
</body>
</html>