<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		23.8、下载分布式链路跟踪服务端
	</div>
	<div class="tabTitleDiv">资源</div>
	<p class="tabTitleLine"></p>
	<table class="across">
		<colgroup>
			<col style="width:4rem;"/>
			<col style="width:5rem;"/>
			<col/>
		</colgroup>
		<thead>
			<tr>
				<th>资源名称</th>
				<th>下载</th>
				<th>说明</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align:center">zipkin-server-2.21.0-exec.jar</td>
				<td style="text-align:center">
				<a href="../../edk4j-appends/tracer/zipkin-server-2.21.0-exec.jar" target="_blank" download>本地下载</a>
				<a href="https://search.maven.org/remote_content?g=io.zipkin&a=zipkin-server&v=LATEST&c=exec" target="_blank">官方下载最新版</a>
				</td>
				<td>分布式链路跟踪服务端包,用于接收并统计链路数据</td>
			</tr>
			<tr>
				<td style="text-align:center">zipkin-dependencies-2.4.2.jar</td>
				<td style="text-align:center">
					<a href="../../edk4j-appends/tracer/zipkin-dependencies-2.4.2.jar" target="_blank" download>本地下载</a>
				</td>
				<td>服务间调用关系链分析器</td>
			</tr>
			<tr>
				<td style="text-align:center">elasticsearch-5.5.0.zip</td>
				<td style="text-align:center">
					<a href="../../edk4j-appends/tracer/elasticsearch-5.5.0.zip" target="_blank" download>本地下载</a>
					<a href="https://www.elastic.co/cn/downloads/elasticsearch" target="_blank" style="margin:0 0.1rem">官方下载地址（速度极慢）</a>
				</td>
				<td>Elasticsearch服务端包,用于链路跟踪持久化，该版本支持JDK1.7，如果服务器支持更高版本的jdk，可以自行在官网下载更高版本</td>
			</tr>
			<tr>
				<td style="text-align:center">elasticsearch-analysis-ik-5.5.0.zip</td>
				<td style="text-align:center"><a href="../../edk4j-appends/tracer/elasticsearch-analysis-ik-5.5.0.zip" target="_blank" download>本地下载</a></td>
				<td>Elasticsearch中文分词器</td>
			</tr>
			<tr>
				<td style="text-align:center">kibana-5.5.0-linux-x86_64.tar.gz</td>
				<td style="text-align:center">
					<a href="../../edk4j-appends/tracer/kibana-5.5.0-linux-x86_64.tar.gz" target="_blank" download>本地下载</a>
					<br>
					<a href="https://www.elastic.co/cn/downloads/past-releases#kibana" target="_blank">官方下载（注意下载和es版本匹配的）</a>
					</td>
				<td>es日志分析器</td>
			</tr>
		</tbody>
	</table>
</body>
</html>