<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		19.11、附录4：不使用quartz框架怎么办
	</div>
	<div class="subTitleDiv addArrow">
		edk4j-task-engine默认是集成了quartz2.2.3框架，如果你要使用其他的任务调度框架，需要自行编写针对哪个框架的任务调度逻辑，需要实现edk4j-task-engine中的接口，并且将你实现的类配置到taskEngine.properties中去：
	</div>
	<div class="subContentDiv">
		<table class="across">
			<colgroup><col style="width:12rem;"/><col style="width:4rem;"/><col/></colgroup>
			<thead>
				<tr><th>.properties中的配置</th><th>taskEngine中的接口</th><th>作用说明</th></tr>
			</thead>
			<tbody>
				<tr>
					<td>taskEngine.clusterManagerClass = <label style="color:#0000ff">com.edk4j.taskengine.defaultimpl.ClusterScheduleManagerViaQuartz</label></td>
					<td>com.edk4j.taskengine.core.AbstractClusterScheduleManager<br/>可以自行实现该接口并配置到.properties文件中</td>
					<td>调度服务器节点管理器</td>
				</tr>
				<tr>
					<td>taskEngine.taskManagerClass = <label style="color:#0000ff">com.edk4j.taskengine.defaultimpl.TaskManagerViaQuartz</label></td>
					<td>com.edk4j.taskengine.core.AbstractTaskManage<br/>可以自行实现该接口并配置到.properties文件中</td>
					<td>任务管理器</td>
				</tr>
				<tr>
					<td>taskEngine.DBDelegateClass = <label style="color:#0000ff">com.edk4j.taskengine.defaultimpl.DBDelegateViaQuartz</label></td>
					<td>com.edk4j.taskengine.jdbc.DBDelegateInterface<br/>可以自行实现该接口并配置到.properties文件中</td>
					<td>数据库操作实施类</td>
				</tr>
				<tr>
					<td>taskEngine.WarnManagerClass = <label style="color:#0000ff">com.edk4j.taskengine.defaultimpl.WarnManager</label></td>
					<td>com.edk4j.taskengine.warn.WarnManagerInterface<br/>可以自行实现该接口并配置到.properties文件中</td>
					<td>报警器</td>
				</tr>
				<tr>
					<td>taskEngine.DBConnectionProviderClass = <label style="color:#0000ff">com.edk4j.taskengine.defaultimpl.DBConnectionProviderViaQuartzJNDI</label></td>
					<td>com.edk4j.taskengine.jdbc.AbstractDBAccess<br/>可以自行实现该接口并配置到.properties文件中</td>
					<td>数据库连接管理器</td>
				</tr>
				<tr>
					<td>taskEngine.runningTaskAbnormalVoterClass = <label style="color:#0000ff">com.edk4j.taskengine.defaultimpl.TaskAbnormalVoter</label></td>
					<td>com.edk4j.taskengine.core.TaskAbnormalVoterInterface<br/>可以自行实现该接口并配置到.properties文件中</td>
					<td>任务执行是否正常投票器：一般将执行时间超过阈值的任务投票为“异常”</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>