<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init()">
	<div id="title" class="titleDiv">
		19.3、导入配置文件
	</div>
	<div class="subTitleDiv addTextIndent">
	在src/main/resources中加入quartz.properties文件和rmi.policy文件（rmi.policy是rmi方式集群时用的，这个文件可有可无）<br/>
	你可以从edk4j-task0-engin.jar中考出这两个文件的模板，并按后面对配置文件的讲解，进行适当修改
	</div>
	<div class="subTitleDiv addTextIndent">
		<label style="background-color:#ffff00">注意</label>： quartz.properties是quartz要求的配置文件名，我们的任务引擎还有一个配置文件，名为taskEngine.properties。这里的quartz.properties是我们为了方便，把两个配置文件合并到一起了，这是因为我们的任务引擎默认是使用quartz框架的，如果不使用quartz框架，你可以把下面的内容放到taskEngine.properties里，然后再加入你使用的框架配置文件。
	</div>
	<div class="tabTitleDiv">配置文件内容</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		<pre class="prettyprint language-properties" style="font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
	#=======================
	# Configure TaskEngine 
	#=======================
	#taskEngine.clusterManagerClass = com.edk4j.taskengine.defaultimpl.ClusterScheduleManagerViaQuartz
	#taskEngine.taskManagerClass = com.edk4j.taskengine.defaultimpl.TaskManagerViaQuartz
	#taskEngine.DBDelegateClass = com.edk4j.taskengine.defaultimpl.DBDelegateViaQuartz
	taskEngine.WarnManagerClass = com.edk4j.taskengine.defaultimpl.WarnManager
	#taskEngine.DBConnectionProviderClass = com.edk4j.taskengine.defaultimpl.DBConnectionProviderViaQuartzJNDI
	taskEngine.runningTaskAbnormalVoterClass = com.edk4j.taskengine.defaultimpl.TaskAbnormalVoter
	taskEngine.warnAndDisableAutoScheduleFlag= true
	taskEngine.warnFileSavePath= /home/edk4j-task/taskWarnFiles/
	taskEngine.clearJobStoreWhenStart = true
	taskEngine.logTaskRunStateHistory = true
	#taskEngine.scanTasksInterval = 300000
	#taskEngine.clusterWarnInterval = 300000
	#taskEngine.businessFrameWorkName= SPRING
	taskEngine.ScheduleFramework.tablePrefix= QRTZ_
	#please change to  java:comp/env/jdbc/task_ds in tomcat
	taskEngine.JNDI=java:comp/env/jdbc/your_jndi_ds
	#taskEngine.dbUrl=
	#taskEngine.dbDriverClassName=com.mysql.cj.jdbc.Driver
	#taskEngine.dbUsername=
	#taskEngine.dbPassword=
	#taskEngine.maxConnection=1
	#taskEngine.hostIp = xxx.xxx.xxx.xxx
</pre>
	</div>
</body>
</html>