<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		19.4、配置edk4j.properties
	</div>
	<div class="subTitleDiv">
		<p><span style="color:#3f7f5f">#taskEngine</span></p>
		<p><span style="color:#3f7f5f">#</span><span style="color:#3f7f5f">如果</span><span style="color:#3f7f5f">quartz.properties</span><span style="color:#3f7f5f">和</span><span style="color:#3f7f5f">taskEngine.properties</span><span style="color:#3f7f5f">文件没合并，你就要写成</span><span style="color:#3f7f5f">taskEngine.properties</span></p>
		<p><span style="color:black">taskEngine.taskEngineConfigFile=</span><span style="color:#2a00ff">quartz.properties</span></p>
	</div>
</body>
</html>