<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init()">
	<div id="title" class="titleDiv">
		19.7、启动任务引擎
	</div>
	<div class="subTitleDiv addArrow">
		在系统的启动类中加入下面代码，即可启动任务引擎，例如在项目的ApplicationInitailizer类中：
	</div>
	<div class="contentDiv">
		<pre class="prettyprint language-java" style="width:100%;font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
package com.yourcompany.yourproject.config;
import org.springframework.stereotype.Service;
import com.edk4j.core.config.ApplicationInitializerInterface;
import com.edk4j.core.util.ConfigPropertiesReader;
import com.edk4j.taskengine.StartTaskEngine;
/**
 * edkDemo项目个性化初始化动作
 * @author liuxiaosong(shuidrinking@126.com)
 * @version 2018年5月11日
 * @since jdk1.8
 */
@Service
public class ApplicationInitializer implements ApplicationInitializerInterface{
	@Override
	public void initialize() {
		//读取任务引擎配置
		String taskEngineConfigFile = ConfigPropertiesReader.getPropertyValue("taskEngine.taskEngineConfigFile", "quartz.properties");
		//启动任务调度引擎
		StartTaskEngine.startTaskEngine(taskEngineConfigFile);
	}
}
		</pre>
	</div>
</body>
</html>