<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="error">

	<Properties>
		<Property name="LOG_HOME">
			/home/webapp_logs/edk4j-manual
		</Property>
		<Property name="PROJECT_NAME">
			edk4jmanual
		</Property>
	</Properties>

	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %thread %c{1.} - %msg%xEx%n" />
		</Console>

		<RollingFile name="RollingAccessFile" fileName="${FILE_HOME}/${PROJECT_NAME}.log"
			immediateFlush="false" append="true"
			filePattern="${FILE_HOME}/${PROJECT_NAME}.%d{yyyyMMdd}_%i.log.gz">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %thread %c{1.} - %msg%xEx%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="50 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="20">
				<Delete basePath="${FILE_HOME}/" maxDepth="2">
                    <IfFileName glob="*.log.gz"/>
                    <!-- age表示允许被保留的文件最远上次修改时间，天数为d，小时数为H。年龄数字最好>2，否则可能造成删除的时候还处于被占用状态-->
                    <IfLastModified age="30d"/>
                </Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="org.springframework"  level="INFO" additivity="true"/>
		<Root level="INFO" includeLocation="true" additivity="false">
			<appender-ref ref="RollingAccessFile" />
			<appender-ref ref="Console" />
		</Root>
	</Loggers>
</Configuration>
