<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript">
		function init(){
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init()">
	<div id="title" class="titleDiv">
		16.5、代理服务器怎么设置
	</div>
	<div class="subTitleDiv">
		有些客户的服务器访问外网时必须通过代理服务器，在我们的edk4j-integration（接口调用引擎）里提供了对代理服务器配置的支持，需要按下面的套路做：
	</div>
	<div class="subTitleDiv addArrow">
		（1）在application-{profile}.properties中设置代理服务器信息
	</div>
	<div class="contentDiv">
		<p><span style="background-color:yellow"><span style="color:black">ntegration.proxy</span></span><span style="color:black">.host = </span><span style="color:#2a00ff">代理服务器</span><span style="color:#2a00ff">ip</span></p>
		<p><span style="color:black">integration.proxy.port = </span><span style="color:#2a00ff">代理服务器端口号</span></p>
		<p><span style="color:black">integration.proxy.userName = </span><span style="color:#2a00ff">代理服务器授权用户名</span></p>
		<p><span style="color:black">integration.proxy.password = </span><span style="color:#2a00ff">代理服务器授权密码</span></p>
	</div>
	<div class="subTitleDiv addArrow">
		（2）在application-{profile}.properties中打开代理服务器开关
	</div>
	<div class="contentDiv">
		<p><span style="background-color:yellow"><span style="color:black">integration.</span></span><span style="background-color:yellow"><span style="color:black">服务器</span></span><span style="color:black">.useProxy=</span><span style="color:#2a00ff">true</span></p>
	</div>
	<div class="subTitleDiv addArrow">
		（3）在具体接口调用的服务类中设置代理
	</div>
	<div class="contentDiv">
		因为我们目前使用的是httpClient4.x的框架进行http通信，因此可以参考官网给出的样例：<br/>
		http://hc.apache.org/httpcomponents-client-4.5.x/httpclient/examples/org/apache/http/examples/client/ClientProxyAuthentication.java<br/>
		下面是我们的样例模板：
		<div class="subContentDiv">
			<pre class="prettyprint lang-java" style="font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
//首先，需要在RequestConfig被构造时，设置代理服务器的ip和端口
HttpHost proxy = new HttpHost(proxyConfig.getHost(), proxyConfig.getPort());
requestConfigBuilder.setProxy(proxy);
RequestConfig requestConfig = requestConfigBuilder.build();           
//其次，在创建httpClient对象时，如果代理服务器需要授权，则设置授权信息，否则，这一步忽略
CredentialsProvider credsProvider = new CredentialsProvider();
credsProvider.setCredentials(
    new AuthScope(proxyConfig.getHost(), proxyConfig.getPort()),
    new UsernamePasswordCredentials(proxyConfig.getUserName(),proxyConfig.getPassword()));
CloseableHttpClient httpClient =HttpClients.custom().setDefaultCredentialsProvider(credsProvider).build();
</pre>
		</div>
	</div>
</body>
</html>