<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link type="text/css"  rel="stylesheet" href="../../css/sdTabControl.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/SDTabControl.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		3.1、各个子系统一览
	</div>
	<div style="margin:0.05rem;">
		<div id="tabs" class="sd_tab">
			<div class="sd_tab_in" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),1);">引擎体系结构图</div>
			<div class="sd_tab_out" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),2);">子系统清单</div>
		</div>
		<div id="tabContents" class="tabContentDiv">
			<img src="../../image/business/3/3.1-1.png"/>
			<table class="across" style="display:none;">
				<colgroup><col style="width:0.5rem;"/><col style="width:3rem;"/><col/><col/></colgroup>
				<thead>
					<tr><th>序号</th><th>子系统</th><th>	功能</th><th>备注</th></tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td><td>edk4j-parent</td><td>所有项目的parent</td><td>edk4j项目必须设置该parent</td>
					</tr>
					<tr>
						<td>2</td><td>edk4j-core	</td><td>核心功能包</td><td>edk4j平台基础核心包</td>
					</tr>
					<tr>
						<td>3</td><td>edk4j-task-engine</td><td>定时任务引擎</td><td>需要执行定时任务的项目需要引入</td>
					</tr>
					<tr>
						<td>4</td><td>edk4j-integration</td><td>接口调用包</td><td>需要接口调用的项目需要引入</td>
					</tr>
					<tr>
						<td>5</td><td>
							edk4j-workflow
						</td><td>工作流引擎</td>
						<td>
						</td>
					</tr>
					<tr>
						<td>6</td><td>edk4j-kafka</td><td>kafka支持</td><td>kafka消息总线，适用于高并发，大型系统</td>
					</tr>
					<tr>
						<td>7</td><td>edk4j-jta</td><td>多数据源支持</td><td>能妥善处理多数据域源下的事务，集成方便，集成前后，代码无需改动</td>
					</tr>
					<tr>
						<td>8</td><td>edk4j-track</td><td>分布式链路跟踪</td><td>能追溯运行日志和分布式调用轨迹，可用于分布式系统、微服务系统的监控跟踪</td>
					</tr>
					<tr>
						<td>9</td><td>edk4j-uisdk</td><td>前端布局器</td><td>辅助前端人员设计布局</td>
					</tr>
					<tr>
						<td>10</td><td>edk4j-manual</td><td>edk4j平台技术白皮书</td><td>edk4j平台技术手册及教程</td>
					</tr>
					<tr>
						<td>11</td><td>edk4j-demos</td><td>edk4j平台各技术点使用样例</td>
						<td>
							详情参阅“102.1、edk4j用法样例”章节
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>