<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			CodePrettyUtil.escapeInnerHTML('javaCode1', 'javaCode1');
			CodePrettyUtil.escapeInnerHTML('javaCode2', 'javaCode2');
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		7.1、MvcController接口
	</div>
	<div class="tabTitleDiv">1、需要实现的接口</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		<label style="font-weight:bold;">接口</label>：com.edk4j.core.mvcprocess.MvcController
		<br><label style="font-weight:bold;">配置到哪里</label>：详见前面“edk中的mvc.xml”小节内容
		<br><label style="font-weight:bold;">什么用：</label><label style="background-color:#ffff00;">MvcController是响应前台请求的入口，通过“处理前、处理中、处理后”三个方法完成一个交易，这三个方法贯穿于整个交易</label>，由于每个mvc请求都可以配置MvcController，因此你可以根据不同的需要，编写不同的MvcController来处理。
		<br><label style="font-weight:bold;">edkdemo中的可参考实现类</label>：com.edk4j.sdk.web.controller.DefaultMvcController，该类在<a href="javascript:window.open('../102/102.1.html', null, getWindowOpenFeature(200, 200));">edk技术点样例项目</a>中可以找到。也可以使用EDK可视化IDE为项目添加支持后，自动生成。
		<br/><a style="font-weight:bold;">▶&nbsp;&nbsp;必须实现的方法清单：</a>
		<div class="contentDiv">
			<pre class="prettyprint lang-java " id="javaCode1" style="padding-left:0.5rem;font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
/**
 * 调用doHandle服务方法前的处理逻辑，完成安全检查、权限检查等一系列动作，返回sessionContext
 * @param HttpServletRequest servletRequest
 * @param context 前台请求数据都已经设置到context中了
 * @param mvc的配置实体类
 * @return 返回sessionContext
 */
public abstract Context preHandle(HttpServletRequest servletRequest, Context context, Mvc mvc) throws BaseException;
/**
 * 调用doHandle方法后的处理逻辑，完成sessionContext的保存处理等动作
 * @param response 
 * @param mvc的配置实体类
 * @param context 注意：这里是交易context，不是sessionContext
 * @return resultString json或者xml格式的字符串
 * @throws BaseException
 */
public abstract String postHandle(HttpServletResponse response, Mvc mvc, Context context) throws BaseException;
			</pre>
		</div>
		<br/><a style="font-weight:bold;">▶&nbsp;&nbsp;【非】必须实现的方法清单：</a>
		<div class="contentDiv">
			<pre class="prettyprint lang-java " id="javaCode2" style="padding-left:0.5rem;font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
/**
 * 调用doHandle方法后的处理逻辑，完成sessionContext的保存处理等动作
 * 本方法与另一个postHandle方法的不同在于：本方法除了另一个postHandle中具备的功能外，还可以用于视图跳转。如果项目中有这种需求时，可以实现这个方法
 * 【注1】需要本地maven库中的edk-core在2020-5-1后更新过，否则本方法不会被调用
 * 【注2】如果实现了这个方法，EDK平台在运行时，会只调用本方法，而不调用另一个postHandle方法！
 * @param request
 * @param response
 * @param mvc
 * @param context
 * @return 视图String，json或者xml格式的字符串，或者ModelAndView等返回结果
 * @throws BaseException
 */
public Object postHandle(HttpServletRequest servletRequest, HttpServletResponse servletResponse, Mvc mvc, Context context) {
			</pre>
		</div>
	</div>
	<div class="tabTitleDiv">7.1.2、如何组织返回结果数据</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		<p>在&lt;businessLogic&gt;中配置好&lt;output&gt;之后，在postHandle方法中处理返回结果：</p>
		<p>（1）返回json时这样写</p>
		<p><span style="color:black">String </span><span style="color:#6a3e3e">result</span><span style="color:black"> = </span><strong><span style="color:#7f0055">super</span></strong><span style="color:black">.getResponse(BaseConstant.</span><strong><em><span style="color:#0000c0">JSON_ FORMAT</span></em></strong><span style="color:black">, </span><span style="color:#6a3e3e">mvc</span><span style="color:black">, </span><span style="color:#6a3e3e">context</span><span style="color:black">);</span></p>
		<p><strong><span style="background-color:silver"><span style="color:#7f0055">return</span></span></strong> <span style="background-color:silver"><span style="color:#6a3e3e">result</span></span><span style="background-color:silver"><span style="color:black">;</span></span></p>
		<p><span style="color:black">（</span><span style="color:black">2</span><span style="color:black">）返回</span><span style="color:black">xml</span><span style="color:black">时这样写</span></p>
		<p><span style="color:black">String </span><span style="color:#6a3e3e">result</span><span style="color:black"> = </span><strong><span style="color:#7f0055">super</span></strong><span style="color:black">.getResponse(BaseConstant.</span><strong><em><span style="color:#0000c0">XML_ FORMAT</span></em></strong><span style="color:black">, </span><span style="color:#6a3e3e">mvc</span><span style="color:black">, </span><span style="color:#6a3e3e">context</span><span style="color:black">);</span></p>
		<p><strong><span style="background-color:silver"><span style="color:#7f0055">return</span></span></strong> <span style="background-color:silver"><span style="color:#6a3e3e">result</span></span><span style="background-color:silver"><span style="color:black">;</span></span></p>
		<p><span style="color:black">（</span><span style="color:black">3</span><span style="color:black">）返回其他格式的结果时，需要自行组织处理！</span></p>
	</div>
</body>
</html>