<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		6.1、一律英文命名，禁止缩写
	</div>
	<div class="contentDiv">
		<p class="subTitleDiv addArrow">
			严禁拼音命名；
		</p>
		<p class="subTitleDiv addArrow">
			严禁汉字首字母缩写的命名；
		</p>
		<p class="subTitleDiv addArrow">
			严禁中英混合命名；
		</p>
		<p class="subTitleDiv addArrow">
			严禁英文名字缩写，编译器才不管你命名了个多长的字符串；
		</p>
		<p class="subTitleDiv addArrow">
			你的命名，对程序员来说只为了阅读。
		</p>
	</div>
</body>
</html>