<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		6.7、版本提交规范
	</div>
	<div class="contentDiv">
		<p class="subTitleDiv addArrow">
			只提交你负责开发的内容，不要提交跟你不相干的东西
		</p>
		<p class="subTitleDiv addArrow">
			请在备注里详细的描述你的改动
		</p>
		<p class="subTitleDiv addArrow">
			与别人有冲突时，请先更新下来，再把你改的东西补充进去，然后提交，使用合并等动作时需要谨慎，切勿覆盖其他伙伴儿改动内容的动作
		</p>
	</div>
</body>
</html>