<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<style type="text/css">
		table tbody tr td{
			text-align:center;
		}
	</style>
</head>
<body>
	<div id="title" class="titleDiv">
		95.1、spring-boot版本清单
	</div>
	<table class="across">
		<colgroup>
			<col style="width:1rem;"/>
			<col style="width:2rem;"/>
			<col style="width:2rem;"/>
			<col style="width:2rem;"/>
			<col/>
		</colgroup>
		<thead>
			<tr>
				<th>版本号</th>
				<th>最低jdk版本</th>
				<th>发行时间</th>
				<th>结束支持时间</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>3.2.x</td>
				<td>17</td>
				<td>2023-11-23</td>
				<td>2024-11-23</td>
				<td></td>
			</tr>
			<tr>
				<td>3.1.x</td>
				<td>17</td>
				<td>2023-05-18</td>
				<td>2024-05-18</td>
				<td></td>
			</tr>
			<tr>
				<td>3.0.x</td>
				<td>17</td>
				<td>2022-11-24</td>
				<td>2023-11-24</td>
				<td></td>
			</tr>
			<tr>
				<td>2.7.x</td>
				<td>1.8</td>
				<td>2022-05-19</td>
				<td>2023-11-24</td>
				<td></td>
			</tr>
			<tr>
				<td>2.6.x</td>
				<td>1.8</td>
				<td>2021-11-17</td>
				<td>2022-11-24</td>
				<td></td>
			</tr>
			<tr>
				<td>2.5.x</td>
				<td>1.8</td>
				<td>2021-05-20</td>
				<td>2022-05-19</td>
				<td></td>
			</tr>
			<tr>
				<td>2.4.x</td>
				<td>1.8</td>
				<td>2020-11-12</td>
				<td>2021-11-18</td>
				<td>从2.4版本开始，版本号变为纯数字组合，弃用.RELEASE</td>
			</tr>
			<tr>
				<td>2.3.x</td>
				<td>1.8</td>
				<td>2020-05-15</td>
				<td>2021-05-20</td>
				<td></td>
			</tr>
			<tr>
				<td>2.2.x</td>
				<td>1.8</td>
				<td>2019-10-16</td>
				<td>2020-10-16</td>
				<td></td>
			</tr>
			<tr>
				<td>2.1.x</td>
				<td>1.8</td>
				<td>2018-10-30</td>
				<td>2019-10-30	</td>
				<td></td>
			</tr>
			<tr>
				<td>2.0.x</td>
				<td>1.8</td>
				<td>2018-03-01</td>
				<td>2019-03-01</td>
				<td></td>
			</tr>
			<tr>
				<td>1.5.x</td>
				<td>1.6</td>
				<td>2017-01-30</td>
				<td>2019-08-06</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</body>
</html>