<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link type="text/css"  rel="stylesheet" href="../../css/sdTabControl.css"/>
	<link type="text/css"  rel="stylesheet" href="../../css/sdImageViewer.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/SDTabControl.js"></script>
	<script type="text/javascript" src="../../javascript/components/SDImageViewer.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		96.1、如何使用edk4j自带文档生成器
	</div>
	<div style="margin:0.05rem;">
		<div id="tabs" class="sd_tab">
			<div class="sd_tab_in" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),1);">启动文档生成器</div>
			<div class="sd_tab_out" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),2);">开始生成</div>
		</div>
		<div id="tabContents" class="tabContentDiv">
			<div>
				<a style="font-weight:bold;">（1）右键项目</a><br>
				<a style="font-weight:bold;">（2）点击菜单“Project Support -> 生成edk4j设计文档”</a><br>
				<img src="../../image/business/96/96.1-1.png"/>
			</div>
			<div style="display:none;">
				<div>
					<a style="font-weight:bold;">（1）文档为html网页格式；</a><br>
					<a style="font-weight:bold;">（2）文档包括：项目概要、平台及业务规则配置说明、交易索引、交易明细</a><br>
					<a style="font-weight:bold;">（3）交易明细功能中，详细说明了交易的概要信息、api配置、输入、输出、业务逻辑信息</a><br>
					<a style="font-weight:bold;">（4）可根据需要，将html中的内容复制提取到需要的word文档中</a><br>
				</div>
				<video src="../../image/business/96/gentechdoc.mp4"  poster="../../image/business/96/96.1-2.png" controls style="width:80%;"></video>
			</div>
		</div>
	</div>
</body>
</html>