<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link type="text/css"  rel="stylesheet" href="../../css/sdTabControl.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/SDTabControl.js"></script>
</head>
<body>
	<div id="title" class="titleDiv">
		1.5、平台技术架构
	</div>
	<div>
		<img src="../../image/business/1/1.5-1.png" style="margin:0 auto;display:table-cell;"/>
	</div>
</body>
</html>