<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body>
	<div id="title" class="titleDiv">
		1.7、“edk4j开发平台”特点
	</div>
	<div class="note">
		 <div>
		 	<h1>低门槛易上手</h1>
		 	<div>
		 		&#10148;普通开发人员2到6小时上手，无需掌握复杂的编程技巧、设计模式；<br>
		 		&#10148;不会写代码的业务人员也可参与开发；<br>
		 		&#10148;大幅度减少高级开发人员的配置比例。
		 	</div>
		 </div>
		 <div>
		 	<h1>简化开发</h1>
		 	<div>
		 		&#10148;“软编码开发模式”；<br>
		 		&#10148;低代码高配置；<br>
		 		&#10148;减少80%的人工编码量；<br>
		 		&#10148;更专注于业务功能。
			</div>
		 </div>
		 <div>
		 	<h1>拥抱开源</h1>
		 	<div>
		 		&#10148;兼容传统开发模式；<br>
		 		&#10148;可按需灵活自由集成spring、hibernate、mybatis、jedis、quartz、urule等开源框架；<br>
		 		&#10148;自由灵活集成第三方开源框架。
		 	</div>
		 </div>
		 <div>
		 	<h1>基础设施完善</h1>
		 	<div>
		 		&#10148;完善的内核设计；<br>
		 		&#10148;多数据源引擎、接口调用引擎、定时任务引擎等系列子系统提供强大的支持；<br>
		 		&#10148;系统化视频教程；<br>
		 		&#10148;丰富的学习资源；<br>
		 		&#10148;技术点案例项目。<br>
		 	</div>
		 </div>
		 <div>
		 	<h1>自动化生成编码</h1>
		 	<div>
		 		&#10148;配套高维易用的可视化开发IDE，设计即开发；<br>
		 		&#10148;托拽式地将“组件”“画”到配置文件中，自动生成代码，设置参数便完成开发；<br>
		 		&#10148;开发工作优雅、极速、便捷、高效。
		 	</div>
		 </div>
		 <div>
		 	<h1>遵守标准</h1>
		 	<div>
		 		&#10148;标准化项目模型；<br>
				&#10148;标准化模块及组件；<br>
				&#10148;标准化代码；<br>
				&#10148;遵循JSR330、JSR107、JSR907等规范。
			</div>
		 </div>
		 <div>
		 	<h1>通用型复用型组件</h1>
		 	<div>
		 		&#10148;面向组件设计；<br>
		 		&#10148;内置丰富的通用型、复用型组件以及模块解决方案，在ide中直接拖拽使用，无需重复“造车轮”；<br>
				&#10148;“搭积木”式地组装组件完成mvp、bpm等功能单位的开发。
			</div>
		 </div>
		 <div>
		 	<h1>组件扩展灵活</h1>
		 	<div>
		 		&#10148;遵循“开放闭合原则”；<br>
		 		&#10148;完善的接口定义；<br>
		 		&#10148;制定组件开发规范，可按需开发个性化的组件，灵活扩展组件库。</div>
		 </div>
		 <div>
		 	<h1>保证质量</h1>
		 	<div>
			 	&#10148;在开发规范和可视化开发IDE支持下，所有开发成果能保持高度一致、统一规范；<br>
				&#10148;持续集成；<br>
				&#10148;项目质量和品质保证。
		 	</div>
		 </div>
		 <div>
		 	<h1>热插拔易运维</h1>
		 	<div>
		 		&#10148;内置动态更新mvp和bpm的api接口；<br>
		 		&#10148;维护粒度可以精细到具体业务功能单元；<br>
				&#10148;不需要对服务器做发布重启；
		 	</div>
		 </div>
		 <div>
		 	<h1>运行稳性能高</h1>
		 	<div>
		 		&#10148;基于本平台开发的项目表现优秀；<br>
		 		&#10148;系统安全、健壮；<br>
		 		&#10148;运行性能高；<br>
		 		&#10148;服务器稳定可靠；
		 	</div>
		 </div>
		 <div>
		 	<h1>集群维护便捷</h1>
		 	<div>
		 		&#10148;启用缓存服务器，缓存会话和交易数据；<br>
		 		&#10148;应用服务器无状态化；<br>
		 		&#10148;动态调整集群容量；<br>
		 		&#10148;自由启停集群节点；
		 	</div>
		 </div>
		 <div>
		 	<h1>高效沟通协作</h1>
		 	<div>
		 		&#10148;开发人员之间、开发人员与业务人员之间沟通协作简单高效；<br>
		 		&#10148;降低开发人员流动影响；<br>
		 		&#10148;降低工作交接难度，提高交接效率；<br>
		 	</div>
		 </div>
	</div>
</body>
</html>