<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body>
	<div id="title" class="titleDiv">
		101.2.10、edk4j-uisdk
	</div>
	<table>
		<colgroup>
			<col style="width:3rem;"/>
			<col/>
		</colgroup>
		<thead>
			<tr>
				<th>发布时间</th>
				<th>明细 </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="detailTime">
					2022年1月1日
				</td>
				<td>
					初始版本
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>