<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			//CodePrettyUtil.escapeInnerHTML('codeShow1', 'codeShow1');
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		5.10、后台跳转到响应视图怎么做
	</div>
	<div class="subTitleDiv addArrow">
		先要明确一下：对ajax请求，跳转动作是无意义的。跳转适用于get方式的访问或者form提交，后台负责跳转到新页面的场景。
	</div>
	<div class="subTitleDiv addArrow">
		首先，需要在mvc中设置responseView属性，将值设置为该mvc处理完成后要跳转到的视图页面。
	</div>
	<div class="subTitleDiv addArrow">
		其次，在具体的MvcControlle.postHandle方法中实现跳转动作。参照“<a href="../7/7.1.html">7.1、MvcController接口</a>”章节中对MvcController的介绍。
	</div>
	<div class="subContentDiv">
		可参考实现类：com.edk4j.sdk.web.controller.DefaultMvcController，该类在<a href="javascript:window.open('../102/102.1.html', null, getWindowOpenFeature(200, 200));">edk4j-demos技术点样例项目</a>中可以找到。也可以使用EDK可视化IDE为项目添加支持后，自动生成。
	</div>
	<div class="subTitleDiv addArrow">
		MvcController开发技巧
	</div>
	<div class="subContentDiv">
		<div class="item">
			（1）如果要通过response.sendRedirect方式跳转，则直接在postHandle的方法里实现便可。
		</div>
		<div class="item">
			（2）如果要通过forward方式跳转，而且有些数据要放到request中，则需要新增另一个postHandle方法。
		</div>
		<div class="item">
			（3）样例代码：
		</div>
		<div class="subContentDiv">
			<pre class="prettyprint lang-java" id="codeShow1" style="font-weight:bold;font-size:0.14rem;line-height:0.2rem;font-family: 'Verdana','微软雅黑','宋体';">
/**
 * 调用doHandle方法后的处理逻辑，完成sessionContext的保存处理等动作&lt;/br&gt;
 * 本方法与另一个postHandle方法的不同在于：本方法除了另一个postHandle中具备的功能外，还可以用于视图跳转&lt;/br&gt;
 * 【注】需要本地maven库中的edk-core在2020-5-1后更新过，否则本方法不会被调用
 * @param request
 * @param response
 * @param mvc
 * @param context
 * @return 视图String，json或者xml格式的字符串，或者ModelAndView等返回结果
 * @throws BaseException
 */
public Object postHandle(HttpServletRequest servletRequest, HttpServletResponse servletResponse, Mvc mvc, Context context) {
	if(StringUtil.isBlank(mvc.getResponesView())) {
		return postHandle(servletResponse, mvc, context);
	}
	else {
		updateSession(mvc, context);
		/*
		 * 当mvc的响应视图非空时，则forward到其设置的页面
		 */
		if(mvc.getResponesView().charAt(0) != '/' ) {
			mvc.setResponesView("/"+mvc.getResponesView());
		}
		
		/*
		 * 使用forward跳转时，网页上的url是不会发生变化的，浏览器不知道url发生了改变。如果目标页面中的link或script的src用的相对路径，那么跳转后有可能找不到其引用的静态资源
		 * 例如：
		 * 请求了{contextPath}/a，跳转到bmodel/b.html，此时若b.html里引用的js是../script/xxx.js，那么跳转过去以后这个js是找不到的，因为路径不对 
		 * 
		 * forward方式跳转，适用于jsp等动态页面，可以把数据放到request里带过去
		 */
		RequestDispatcher dispatcher = servletRequest.getRequestDispatcher(mvc.getResponesView());
		try{
			dispatcher.forward(servletRequest, servletResponse);
		}
		catch (ServletException e){
			Trace.error(DefaultMvcController.class, Trace.Component_Controller, "", e);
		}
		catch (IOException e){
			Trace.error(DefaultMvcController.class, Trace.Component_Controller, "", e);
		}
		
		/*
		如果要使用response.sendRedirect，则需要加上项目根目录，否则跳转相对路径，有可能出现找不到文件的错误
		sendRedirect跳转，适用于html等静态网页的跳转，把参数可以放到url里组织成get方式（url?param1=1&amp;param2=2...）带过去
		try{
			servletResponse.sendRedirect(servletRequest.getContextPath()+mvc.getResponesView());
		}
		catch (IOException e){
			Trace.error(DefaultMvcController.class, Trace.Component_Controller, "", e);
		}
		*/
		return null;
	}
}
			</pre>
		</div>
	</div>
</body>
</html>