<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		5.2.6、bpm中route的条件配置专题
	</div>
	<div class="subTitleDiv addArrow">
		对route标签设置condition，要填写aviator表达式（&lt;route condition="aviator表达式..."/&gt;）。
	</div>
	<div class="subTitleDiv addArrow">
		aviator是什么？
	</div>
	<div class="subContentDiv">
		aviator是一个google开发的表达式计算器，对于它的介绍，网上有海量资料。你在表达式中可以直接使用context中的字段，因为context也是map，可以直接作为Aviator api中map类型的参数。<br/>
		<a href="https://code.google.com/p/aviator/" target="_blank" style="margin-right: 0.2rem;">google官方文档</a>
		<a href="https://www.yuque.com/boyan-avfmj/aviatorscript" target="_blank">中文文档</a><br>文档中有详细的表达式写法、内置函数等说明。
	</div>
	<div class="subTitleDiv addArrow">
		route中常用的条件编写范例
	</div>
	<div class="subContentDiv">
		（1）Action返回值的字段id为returnCode，因此判定Action的返回值的写法：<br>
			<label style="padding-left:0.5rem;">returnCode == 'some-value'</label><br>
			<label style="padding-left:0.5rem;">returnCode != 'some-value'</label><br>
		（2）判定id=someDataCell的DataCell的值为具体值：<br>
			<label style="padding-left:0.5rem;">someDataCell=='some-value' </label><br>
		（3）判定id=someDataCell的DataCell的值是否为空：<br>
			<label style="padding-left:0.5rem;">someDataCell==nil || someDataCell==''</label><br>
		（4）判定id=someListx的Listx是否为空：<br>
			<label style="padding-left:0.5rem;">count(someListx)==0</label><br>
		（5）判定id=someListx的Listx是否非空：<br>
			<label style="padding-left:0.5rem;">count(someList)>0</label><br>
		（6）select count(1) from someTabel where...，结果保存到&lt;dataCell id="total"/&gt;中，判定其值是否为0：<br>
			<label style="padding-left:0.5rem;">【需要】这样写：total=='0'</label><br>
			<label style="padding-left:0.5rem;">【不能】这样写：total==0 ，因为我们的组件在设置dataCell的值时，都会处理成字符串</label><br>
			<label style="padding-left:0.5rem;">【啥时能】这样写：total==0，只有在自定义Action里为dataCell设置了Integer或者Long等基础类型的数字值</label><br>
	</div>

</body>
</html>