<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		5.2.4、xml节点中必须要转义的符号
	</div>
	<div class="subTitleDiv addArrow">
		<label style="background-color:#ffff00;">无论是.edm4jMvc文件还是.edk4jBpm文件，内容都是按照xml规范编写的。</label>
	</div>
	<div class="subTitleDiv addArrow">
		<label style="background-color:#ffff00;">注意：下面的转义要求，仅仅当你在xml编辑器中进行编写时要做的。对于ide中编辑时，无需做，ide会自动处理。</label>
	</div>
	<div class="subTitleDiv addArrow">
		有些符号在xml配置节点的属性值中必须写成转义的，例如，在route节点的conditon属性中经常会遇到。
	</div>
	<div class="subTitleDiv addArrow">
		常见的必须转义符号如下：
	</div>
	<div class="subContentDiv">
			（1）&amp; 需要转义书写为 &amp;amp;<br>
			（2）&gt; 需要转义书写为 &amp;gt;<br>
			（3）&lt; 需要转义书写为 &amp;lt;<br>
			（4）&quot; 需要转义书写为 &amp;quot;<br>
	</div>
	<div class="subContentDiv">
		这几个符号如果写在condition等属性的值里面，就会出错，必须转义
	</div>
</body>
</html>