<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		5.2.5、action执行异常时,路由条件怎么写
	</div>
	<div class="subTitleDiv addArrow">
		一般情况下，异常抛出时，直接就异常抛出去了，但是有时候还需要后续的action处理对应的异常情况，怎么写呢？两种情况：
	</div>
	<div class="subContentDiv">
		<div class="subTitleDiv">
		（1）在condition中直接写"exception &amp;&amp; 异常类的全名称"，以便指定按某种异常走特定的action，例如：
		</div>
		<div class="subContentDiv">
			condition="exception &amp;&amp; com.edk4j.core.exception.TranFailException"  toAction="xxxxx"
		</div>
		<div class="subTitleDiv">
			（2）在condition中写"exception &amp;&amp;其他条件"，例如：
		</div>
		<div class="subContentDiv">
			condition="exception  &amp;&amp;  username='1'"  toAction="xxxxxx"<br/>
			condition="exception" toAction="xxxxxx"<br/>
		</div>
	</div>
	<div class="subTitleDiv addArrow">总之，<label  style="color:#ff1b00;">要把"exception" 写在最开始</label>，这样就会告诉edk：发生异常时对这条线路才进行判定。</div>
</body>
</html>