<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			//CodePrettyUtil.escapeInnerHTML('codeShow1', 'codeShow1');
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		5.3.1、log4j2.xml
	</div>
	<div class="subTitleDiv addArrow">
		文件位置： ${项目路径}/src/main/resources/log4j2.xml
	</div>
	<div class="subTitleDiv addArrow">
		严格按照log4j2的配置文件编写规范进行编写。样例如下：
	</div>
	<div class="contentDiv">
		<pre class="prettyprint lang-xml" id="codeShow1" style="font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE xml&gt;
&lt;Configuration status="error"&gt;
	&lt;Properties&gt;
		&lt;Property name="saveto_folder"&gt;/home/app/edk4j-app-logs/${projectName}&lt;/Property&gt;
		&lt;Property name="project_name"&gt;${projectName}&lt;/Property&gt;
		&lt;Property name="content_format"&gt;%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %thread %c{1.} - %msg%xEx%n&lt;/Property&gt;
	&lt;/Properties&gt;
	&lt;Appenders&gt;
		&lt;Console name="Console" target="SYSTEM_OUT"&gt;
			&lt;PatternLayout pattern="${content_format}" /&gt;
		&lt;/Console&gt;
		&lt;RollingFile name="CommonRollingFile" fileName="${saveto_folder}/${project_name}.log"
			immediateFlush="false" append="true"
			filePattern="${saveto_folder}/${project_name}.%d{yyyyMMdd}_%i.log.gz"&gt;
			&lt;PatternLayout charset="UTF-8" pattern="${content_format}"/&gt;
			&lt;Policies&gt;
				&lt;TimeBasedTriggeringPolicy interval="1" modulate="true"/&gt;
				&lt;SizeBasedTriggeringPolicy size="50 MB"/&gt;
			&lt;/Policies&gt;
			&lt;DefaultRolloverStrategy max="20"&gt;
				&lt;Delete basePath="${saveto_folder}/" maxDepth="2"&gt;
					&lt;IfFileName glob="*.log.gz"/&gt;
					&lt;!-- age表示允许被保留的文件最远上次修改时间，天数为d，小时数为H。年龄数字最好&gt;2，否则可能造成删除的时候还处于被占用状态--&gt;
					&lt;IfLastModified age="30d"/&gt;
				&lt;/Delete&gt;
			&lt;/DefaultRolloverStrategy&gt;
		&lt;/RollingFile&gt;
		&lt;!--
			&lt;Async name="Async" bufferSize="51200"&gt;
				&lt;AppenderRef ref="CommonRollingFile"/&gt;
			&lt;/Async&gt;
		--&gt;
	&lt;/Appenders&gt;
	&lt;Loggers&gt;
		&lt;Logger name="com.edk4j.core" level="INFO" additivity="true"/&gt;
		&lt;Logger name="org.springframework" level="INFO" additivity="true" /&gt;
		&lt;Logger name="org.springframework.web.servlet" level="TRACE" additivity="true"/&gt;
		
		&lt;!-- 指定使用个性化的输出器 --&gt;
		&lt;!-- 
		&lt;Logger name="some.special.package" level="INFO" additivity="false"&gt;
			&lt;AppenderRef ref="Console" level="info" /&gt;
			&lt;AppenderRef ref="CustomAppender" level="trace" /&gt;
		&lt;/Logger&gt;
		--&gt;
		
		&lt;Root level="INFO" includeLocation="true" additivity="false"&gt;
			&lt;appender-ref ref="CommonRollingFile" /&gt;
			&lt;appender-ref ref="Console" /&gt;
		&lt;/Root&gt;
	&lt;/Loggers&gt;
&lt;/Configuration&gt;
		</pre>
	</div>
</body>
</html>