<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		5.3.9、具体交易的业务逻辑
	</div>
	<div class="contentDiv">
		<div class="subTitleDiv addArrow">
			（1）配置文件位于： {项目路径}/src/main/resources/edk4j/bpm/模块名称/ 文件夹下。
		</div>
		<div class="subTitleDiv addArrow">
			（2）严格要求一个功能模块一个文件夹，不要把所有的bpm文件都混在同一个文件夹里。
		</div>
		<div class="subTitleDiv addArrow">
			（3）严格命名规范：模块或分组名.bpm ，例如 userManage.bpm ，不要随意命名。
		</div>
		<div class="subTitleDiv addArrow">
			（4）对文件中&lt;BusinessLogic&gt;标签的id命名规范： 功能名 ，Bpm是我们一个业务流的定义命名单元，其中包括了context, input, output, flow四个子节点。
		</div>
	</div>
</body>
</html>