<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		5.3.8、具体交易的Mvc
	</div>
	<div class="contentDiv">
		<div class="subTitleDiv addArrow">
		（1）配置文件所在位置规范：${项目路径}/src/main/resources/edk4jConfig/mvcConfig/模块名称/具体.edk4jMvc
		</div>
		<div class="subTitleDiv addArrow">
			（2）严格要求一个功能模块一个文件夹，不要把所有模块的mvc文件都混在一起。
		</div>
		<div class="subTitleDiv addArrow">
			（3）严格命名规范：模块名或分组名.edk4jMvc ，例如 userManage.edk4jMvc ，不要随意命名。
		</div>
	</div>
</body>
</html>