<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			//CodePrettyUtil.escapeInnerHTML('codeShow1', 'codeShow1');
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		5.3.13、提升自定义配置文件加载优先级
	</div>
	<div class="tabTitleDiv">1、为什么要自定义配置文件</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		当项目业务功能庞大时，配置项会很多，非常有必要将臃肿的application-{profile}.properties拆分成多个自定义配置文件。可按类别、用途、业务功能等口径将配置项提取到特定文件中，各配置文件独立互不干扰。
	</div>
	<div class="tabTitleDiv">2、自定义配置文件加载优先级要和application.properties一样高</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		springboot对配置文件的加载优先级是有划分的，系统启动之初，最先会加载application.properties，我们要使自定义配置文件也在系统启动时就加载，而不能等系统启动完成再加载，否则可能会影响某些业务初始化。
	</div>
	<div class="tabTitleDiv">3、如何实现配置文件自定义</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		<div class="subTitleDiv addArrow">
			edk4j中的默认方案：<br>
			在ApplicationBootConfig.java类中使用注解@PropertySource，例如：<br>
<pre class="prettyprint lang-java" id="codeShow1" style="font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
	package com.edk4j;
	......
	@PropertySource(
		value = {
			"classpath:application.properties",
			"classpath:edk4j/business.properties",
			"classpath:edk4j/edk4j.properties",
			"classpath:其他自定义配置文件，注意只能是properties文件",
		}
	)
	public class ApplicationBootConfig {
	}
</pre>
		<div class="subTitleDiv addArrow">
			springboot的另一个可选方案：<br>
			在application.properties中指定多个profile文件，利用配置项 spring.profiles.include 进行申明，多个文件用逗号分隔，限制要求是这些文件都要以application-开头，例如：<br>
			spring.profiles.include = one, two, three<br>
			启动时会自动加载appliation-one.properties, application-two.properties, application-three.properties<br><br>
			注意：这个方案里可以使用yaml配置文件，不局限与properites文件
		</div>
		</div>
	</div>
</body>
</html>