<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		5.3.11、具体mapper.xml
	</div>
	<div class="subTitleDiv addArrow">
		文件位置：${项目路径}/src/main/resources/mybatis/mapper/具体模块名称/具体mapper.xml
	</div>
	<div class="subTitleDiv addArrow">
		mybatis的mapper配置，此处不赘述。
	</div>
</body>
</html>