<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			//CodePrettyUtil.escapeInnerHTML('codeShow1', 'codeShow1');
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		5.3.2、application.properties
	</div>
	<div class="subTitleDiv addArrow">
		edk4j平台中使用 .properties格式的文件，配置spring参数。
	</div>
	<div class="subTitleDiv addArrow">
		文件位置： ${项目路径}/src/main/resources/springConfig/application.properties
	</div>
	<div class="subContentDiv">
		本文件中配置的是“公共性质”的属性，对于环境相关的属性（开发环境、测试环境、生产环境等）配置在具体的 application-{profile}.properties中<br>
		配置在该文件中的属性必须是spring中的允许属性，其他属情配置到其他文件中。<br/>
		本文件中配置的内容有“数据库类型、i18n位置定义、mybatis位置定义等等”，详见spring.io中对于springBoot的介绍文档。
		<br/>
		下面是一个样例配置：
	</div>
	<div class="subContentDiv addBorder">
		<pre class="prettyprint lang-properties" id="codeShow1" style="font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
security.basic.enabled =true
spring.application.name = my_project_name
#specify the request contextPath
server.context-path = /my_project_name
#server.port = 8080

#if jpa is unused, to config database.name in profile config file
#ORACLE MYSQL DB2
spring.jpa.database = MYSQL
#we use JpaTransactionManager as default
spring.data.jpa.repositories.enabled=true
spring.jpa.open-in-view=false
#we need't default dialect , it can create foreign keys and other dependency
#com.edk4j.core.config.OracleDialectWithoutFK
#com.edk4j.core.config.MysqlDialectWithoutFK
#com.edk4j.core.config.DB2DialectWithoutFK
spring.jpa.properties.hibernate.dialect=com.edk4j.core.config.MysqlDialectWithoutFK
spring.jpa.properties.hibernate.format_sql = true
spring.jpa.properties.hibernate.cache.user_query_cache = false
spring.jpa.properties.hibernate.max_fetch_depth = 2
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults = false
spring.jpa.show-sql = false
spring.jpa.generate-ddl = false
#needless this naming strategy,the name of field in table is designed by developer
#spring.jpa.hibernate.naming-strategy = com.edk4j.core.config.JPATableDDLNamingStrategy
spring.jpa.hibernate.ddl-auto = none

#mybatis
#mybatis.config-location=classpath:mybatisConfig/mybatis-config.xml
#mybatis.mapper-locations=classpath*:mybatisConfig/mapper/**/*.xml

# TRANSACTION (TransactionProperties)
# Default transaction timeout in seconds.
spring.transaction.default-timeout= 30
# Perform the rollback on commit failures.
#spring.transaction.rollback-on-commit-failure= 

#banner
#banner.location = banner.txt
#banner.image.location =
#banner.charset = UTF-8 

#useless in tomcat 1-6, and you shoud set this contextParam in web.xml
spring.profiles.active = development
#spring.config.location = classpath:springConfig/application-product.properties

#i18n set
spring.messages.basename=springConfig/i18n/messages, springConfig/i18n/error, edk4jConfig/business, edk4jConfig/edk4jConfig
spring.messages.encoding=UTF-8

spring.jmx.default-domain=outwork
		</pre>
	</div>
</body>
</html>