<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			//CodePrettyUtil.escapeInnerHTML('codeShow1', 'codeShow1');
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		5.3.10、mybatis-config.xml
	</div>
	<div class="subTitleDiv addArrow">
		文件位置：${项目路径}/src/main/resources/edkConfig/mybatis-config.xml
	</div>
	<div class="subTitleDiv addArrow">
		edk中的mybatis-config.xml只需要一个空配置文件就可以了，内容里不需要申明各个mapper.xml，<label style="color:#ff0000">请不要以世面上传统的思维处理</label>，正确的做法如下：
	</div>
	<div class="subContentDiv addBorder">
		<pre class="prettyprint lang-xml" id="codeShow1" style="font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"&gt;
&lt;configuration&gt;
      &lt;!--不需要任何配置内容--&gt;
&lt;/configuration&gt;
</pre>
	</div>
</body>
</html>