<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			//CodePrettyUtil.escapeInnerHTML('codeShow1', 'codeShow1');
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		5.4、具体项目的个性化初始化怎么做
	</div>
	
	<div class="subTitleDiv addArrow">
		项目中如果需要做一些额外的初始化动作，比如“初始化系统菜单、业务编码表、启动任务引擎”等等，这些动作要怎么做？
	</div>
	<div class="subContentDiv">
		我们edk中提供了一个接口：com.edk4j.core.config.ApplicationInitializerInterface，实现这个接口，在其中实现初始化动作便可。实现类必须用@Service注解标注为spring的服务类。
	</div>
	<div class="subTitleDiv addArrow">
		样例代码：
	</div>
	<div class="contentDiv addBorder">
		<pre class="prettyprint lang-java" id="codeShow1" style="font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
package com.edk4j.edk4jdemos.config;
import org.springframework.stereotype.Service;
import com.edk4j.core.config.ApplicationInitializerInterface;
import com.edk4j.core.util.ConfigPropertiesReader;
import com.edk4j.taskengine.StartTaskEngine;
/**
 * 请详细说明你初始化了些什么
 * @author liuxiaosong(shuidrinking@126.com)
 * @version 2018年5月11日
 * @since jdk1.8
 */
@Service
public class ApplicationInitializer implements ApplicationInitializerInterface{
	@Override
	public void initialize() {
		/*
		 * 下面的启动动作只是样例，请换成你项目中要在项目启动时做的个性化动作，没有个性化初始化动作就什么也别写
		 */
		//读取任务引擎配置
		String taskEngineConfigFile = ConfigPropertiesReader.getPropertyValue("taskEngine.taskEngineConfigFile", "quartz.properties");
		//启动任务调度引擎
		StartTaskEngine.startTaskEngine(taskEngineConfigFile);
	}
}
</pre>
	</div>
</body>
</html>