<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		5.6、edk4j内置序列化及流处理工具
	</div>
	<div class="subTitleDiv addArrow">
		1、序列化工具
	</div>
	<div class="subContentDiv">
		类：com.edk4j.core.util.SerializeUtil
	</div>
	<div class="subContentDiv">
		该类是在序列化和反序列化数据的，处理用于网络传输的数据，方法清单：
	</div>
	<div class="subContentDiv">
		<table>
			<tbody>
				<tr>
					<td style="width:6rem;">
						public static byte[] serialize(Object object)
					</td>
					<td style="color:#3f5fbf">
						将对象序列化
					</td>
				</tr>
				<tr>
					<td>
						public static Object unserialize(byte[] bytes)
					</td>
					<td style="color:#3f5fbf">
						将byte数组反序列化
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="subTitleDiv addArrow">
		2、流处理工具
	</div>
	<div class="subContentDiv">
		类：com.edk4j.core.util.StreamUtil
	</div>
	<div class="subContentDiv">
		方法清单：
	</div>
	<div class="subContentDiv">
		<table>
			<tbody>
				<tr>
					<td style="width:9rem;">
						public static byte[] streamToByteArray(InputStream dataStream)
					</td>
					<td style="color:#3f5fbf">
						将inputStream读取并保存到byte数组中
					</td>
				</tr>
				<tr>
					<td>
						public static String streamToString(InputStream dataStream, String charSetName)
					</td>
					<td style="color:#3f5fbf">
						将字符串的stream转化为指定编码方式的字符串
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>