<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		5.6.20、edk4j内置首字母比较器
	</div>
	<div class="subTitleDiv">
		类：com.edk4j.core.util.KeyTextComparator
	</div>
	<div class="subTitleDiv">
		该比较器实现接口java.util.Comparator，用于列表排序，参见java中列表排序的资料，按官方对比较器的用法说明进行使用即可。
	</div>
</body>
</html>