<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body>
	<div id="title" class="titleDiv">
		“清空动态数据”Action说明
	</div>
	<div class="subTitleDiv addArrow">
		组件：<img src='../../image/icons/action/a017.png' style='margin-right:0.1rem;'>清空动态数据
	</div>
	<div class="subTitleDiv addArrow">
		备注或算法描述：清空动态数据与中的所有数据
	</div>
	<div class="subTitleDiv addArrow">
		实现类：com.edk4j.core.action.ClearDynamicDataAction
	</div>
	<div class="subTitleDiv addArrow">
		属性清单：无可配置属性
	</div></body>
</html>