<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body>
	<div id="title" class="titleDiv">
		“抛出异常”Action说明
	</div>
	<div class="subTitleDiv addArrow">
		组件：<img src='../../image/icons/action/a007.png' style='margin-right:0.1rem;'>抛出异常
	</div>
	<div class="subTitleDiv addArrow">
		备注或算法描述：抛出异常，一共4个字段，具体值比context中的DataCell优先级高
	</div>
	<div class="subTitleDiv addArrow">
		实现类：com.edk4j.core.action.ThrowTranFailExceptionAction
	</div>
	<div class="subTitleDiv addArrow">
		属性清单：
	</div>
	<table class="across">
		<colgroup><col style="width:0.5rem;"/><col style='width:3rem;'/><col style='width:3rem;'><col/><col style='width:3rem;'/><col style="width:1rem;"/><col style='width:2rem;'/></colgroup>
		<thead>
			<tr>
				<th>序号</th><th>属性id</th><th>属性标签</th><th>属性说明</th><th>默认值</th><th>可否为空</th><th>可选值</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style='text-align:center;'>1</td><td>errorCode</td><td>错误码</td><td></td><td></td><td style='text-align:center;'>true</td><td></td>
			</tr>

			<tr>
				<td style='text-align:center;'>2</td><td>errorMessage</td><td>错误信息</td><td>context中的字段值的占位符为${someId}，在抛出时，该占位符将被其值取代。</td><td></td><td style='text-align:center;'>true</td><td></td>
			</tr>

			<tr>
				<td style='text-align:center;'>3</td><td>errorCodeField</td><td>错误码在context中的字段id</td><td>当errorCode为空时，才使用该属性的配置</td><td></td><td style='text-align:center;'>true</td><td></td>
			</tr>

			<tr>
				<td style='text-align:center;'>4</td><td>errorMessageField</td><td>错误信息在context中的字段id</td><td>当errorMessage为空时，才使用该属性的配置</td><td></td><td style='text-align:center;'>true</td><td></td>
			</tr>
		</tbody>
	</table>
</body>
</html>