<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body>
	<div id="title" class="titleDiv">
		“申明交易日志”Action说明
	</div>
	<div class="subTitleDiv addArrow">
		组件：<img src='../../image/icons/action/a001.png' style='margin-right:0.1rem;'>申明交易日志
	</div>
	<div class="subTitleDiv addArrow">
		备注或算法描述：将本交易中的要素数据记录到交易日志中
	</div>
	<div class="subTitleDiv addArrow">
		实现类：com.edk4j.core.action.BizLogDefineAction
	</div>
	<div class="subTitleDiv addArrow">
		属性清单：
	</div>
	<table class="across">
		<colgroup><col style="width:0.5rem;"/><col style='width:3rem;'/><col style='width:3rem;'><col/><col style='width:3rem;'/><col style="width:1rem;"/><col style='width:2rem;'/></colgroup>
		<thead>
			<tr>
				<th>序号</th><th>属性id</th><th>属性标签</th><th>属性说明</th><th>默认值</th><th>可否为空</th><th>可选值</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style='text-align:center;'>1</td><td>businessCode</td><td>交易码</td><td>一般在api中已经设置了，不需要在这里指定</td><td></td><td style='text-align:center;'>true</td><td></td>
			</tr>

			<tr>
				<td style='text-align:center;'>2</td><td>loggerClassName</td><td>记录实施类</td><td></td><td></td><td style='text-align:center;'>true</td><td></td>
			</tr>

			<tr>
				<td style='text-align:center;'>3</td><td>loggerContentFormat</td><td>日志内容</td><td>context中的字段值的占位符为${someId}，可以把DataCell或者Listx的id写进去，记录日志时会自动解析</td><td></td><td style='text-align:center;'>false</td><td></td>
			</tr>
		</tbody>
	</table>
</body>
</html>