<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body>
	<div id="title" class="titleDiv">
		“操作缓存”Action说明
	</div>
	<div class="subTitleDiv addArrow">
		组件：<img src='../../image/icons/action/cacheop.png' style='margin-right:0.1rem;'>操作缓存
	</div>
	<div class="subTitleDiv addArrow">
		备注或算法描述：可对缓存数据进行增删改查
	</div>
	<div class="subTitleDiv addArrow">
		实现类：com.edk4j.core.action.CacheOperateAction
	</div>
	<div class="subTitleDiv addArrow">
		属性清单：
	</div>
	<table class="across">
		<colgroup><col style="width:0.5rem;"/><col style='width:3rem;'/><col style='width:3rem;'><col/><col style='width:3rem;'/><col style="width:1rem;"/><col style='width:2rem;'/></colgroup>
		<thead>
			<tr>
				<th>序号</th><th>属性id</th><th>属性标签</th><th>属性说明</th><th>默认值</th><th>可否为空</th><th>可选值</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style='text-align:center;'>1</td><td>opType</td><td>操作类型</td><td></td><td>get</td><td style='text-align:center;'>false</td><td>get<br>put<br>delete</td>
			</tr>

			<tr>
				<td style='text-align:center;'>2</td><td>groupName</td><td>有效时间标准</td><td></td><td>bizData</td><td style='text-align:center;'>false</td><td>bizData<br>tempData</td>
			</tr>

			<tr>
				<td style='text-align:center;'>3</td><td>cacheKeyFieldId</td><td>缓存key所在字段id</td><td></td><td></td><td style='text-align:center;'>false</td><td></td>
			</tr>

			<tr>
				<td style='text-align:center;'>4</td><td>cacheValueFieldId</td><td>缓存值所在字段id</td><td>如果操作类型是get或put时，该属性 不能为空；get操作取下来的数据保存到该值设置的字段中；put操作是将该值设置的字段中的值提交到缓存</td><td></td><td style='text-align:center;'>true</td><td></td>
			</tr>
		</tbody>
	</table>
</body>
</html>