<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		8.4、Druid JNDI数据源
	</div>
	<div class="tabTitleDiv">Jndi参考配置</div>
	<div class="tabTitleLine"></div>
	<div class="subTitleDiv addArrow">
		<a href="https://blog.csdn.net/hj7jay/article/details/51686418">网上参考资料</a>
	</div>
	<div class="subTitleDiv addArrow">
		将Druid的jar包，复制到服务器的lib文件夹中，然后配置jndi如下：	
	</div>
	<div class="contentDiv">
		<pre class="prettyprint lang-xml" id="javaCode1" style="padding-left:0.5rem;font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
&lt;!--
	在tomcat8.0及以上的版本中，启动的时候会报下面警告，请参照警告对相应的属性名称进行替换：
	Property maxActive is not used in DBCP2, use maxTotal instead
	removeAbandoned is not used in DBCP2, use one or both of removeAbandonedOnBorrow or removeAbandonedOnMaintenance instead.
	maxWait is not used in DBCP2 , use maxWaitMillis instead. maxWaitMillis default value is -1
--&gt;
&lt;Resource
	name="jdbc/my_datasource"
	factory="com.alibaba.druid.pool.DruidDataSourceFactory"
	auth="Container"
	type="javax.sql.DataSource"
	driverClassName="com.mysql.jdbc.Driver"
	url="jdbc:mysql://192.168.1.31:3306/edkTest"
	username="用户名"
	password="密码"
	maxActive（高版本tomcat里是maxTotal）="100"
	minIdle="0"
	maxIdle="100"
	minPoolSize="50"
	maxPoolSize="100"
	testWhileIdle="true"
	testOnBorrow="false"
	testOnReturn="false"
	minEvictableIdleTimeMillis="180000"
	removeAbandoned（高版本tomcat里是removeAbandonedOnBorrow）="true"
	removeAbandonedTimeout="60"
	logAbandoned="false"
	validationQuery="select 1"
	filters="stat"
	poolPreparedStatements="true"/&gt;
		</pre>
	</div>
</body>
</html>