<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		8.6.2、第2步：添加jta.properties
	</div>
	<div class="subTitleDiv addArrow">
		jta属性配置文件说明
	</div>
	<div class="subContentDiv">
		（1）jta.properties用于设置数据源及事务管理相关的参数。
	</div>
	<div class="subContentDiv">
		（2）请<a href="jta.properties" target="_blank" download>点此下载jta.properties</a>
		把这个文件考到项目的classpath路径中，即：放到src/main/resources文件夹
		<div class="subContentDiv">
			<label style="color:#ff0000;fong-weight:bold;">【注意】</label>你不要直接考进去什么都不改，至少你要把项目名字改正确
		</div>
		（3）对于各个配置项的key都是见名知意的，不明白时可以参考官网文档：<a href="https://www.atomikos.com/Documentation/JtaProperties" target="_blank">jta.properties属性参考</a>
	</div>
</body>
</html>