<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		8.6.5、第5步：配置jpa启动项注解
	</div>
	<div class="subTitleDiv">
		<a style="font-weight:bold;">在ApplicationBootConfig中，将@EnableJpaRepositories注解按下面进行设置：</a><br/>
		<label style="color:#797777;">@EnableJpaRepositories</label>(repositoryFactoryBeanClass = com.edk4j.jta.config.jpa.EdkRepositoryFactoryBean.class)
	</div>
</body>
</html>