<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		20.1.5.2、编写BPM配置文件
	</div>
	<div class="subTitleDiv">
		参见<a href="javascript:window.open('../102/102.1.html', null, getWindowOpenFeature(200, 200));">edk4j-demos（技术点样例项目）</a>中的样例：src/main/resources/edk4j/bpm/mqModule/activeMqDemoBpm.bpm
	</div>
</body>
</html>