<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		20.1.4、禁止使用MQ后，不能使用二级缓存
	</div>
	<div class="subTitleDiv">
		禁止使用MQ后，处理缓存时有两种情况：
	</div>
	<div class="subTitleDiv">
		第一，如果在你的应用中，不实现CacheService接口，而是使用edk自带的缓存管理器，那么在edk4j.properties配置文件中，cache.providerName 这条配置的值不能是redis,ehCache；
	</div>
	<div class="subTitleDiv">
		第二，如果你的应用中，实现了CacheService接口，并且对二级缓存的支持提供了自定义的支持，则以你的实现为准。
	</div>
</body>
</html>