<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>104.2、开发环境资源下载</title>
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		104.2、开发环境资源下载
	</div>
	<div class="tabTitleDiv">开发机必备</div>
	<p class="tabTitleLine"></p>
	<table class="across">
		<colgroup>
			<col style="width:3rem;"/>
			<col style="width:5rem;"/>
			<col/>
		</colgroup>
		<thead>
			<tr>
				<th>资源名称</th>
				<th>下载地址</th>
				<th>说明</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Oracle JDK最新版</td>
				<td><a href="https://www.oracle.com/java/technologies/javase-downloads.html" target="_blank">https://www.oracle.com/java/technologies/javase-downloads.html</a></td>
				<td>
					Oracle JDK从2019年4月16号开始商用收费！<br>
					小于等于“JDK 8u202”或者大于等于“JDK17”的版本都可免费商用。若使用商用收费的版本，请注意可能会出现法律纠纷。
				</td>
			</tr>
			<tr>
				<td>Open JDK所有版本</td>
				<td><a href="https://jdk.java.net/archive/" target="_blank">https://jdk.java.net/archive/</a></td>
				<td>Open JDK不涉及收费问题，与Oracle收费的jdk只有微小差距。</td>
			</tr>
			<tr>
				<td>Mysql</td>
				<td><a href="https://dev.mysql.com/downloads/mysql/" target="_blank">https://dev.mysql.com/downloads/mysql/</a></td>
				<td>mysql官网下载中心</td>
			</tr>
			<tr>
				<td>Eclipse</td>
				<td><a href="https://www.eclipse.org/downloads/packages" target="_blank">https://www.eclipse.org/downloads/packages</a></td>
				<td>eclipse官网下载中心，下载4.5或更高版本！低版本未集成maven插件且不支持高版本的jdk。</td>
			</tr>
			<tr>
				<td>Spring Tool Suite 3或4</td>
				<td>
					<a href="https://spring.io/tools" target="_blank">https://spring.io/tools</a><br>
					<a href="https://github.com/spring-projects/toolsuite-distribution/wiki/Spring-Tool-Suite-3" target="_blank">https://github.com/spring-projects/toolsuite-distribution/wiki/Spring-Tool-Suite-3</a>
				</td>
				<td>spring官网下载中心</td>
			</tr>
			<tr>
				<td>dbeaver</td>
				<td>
					<a href="https://dbeaver.io" target="_blank">https://dbeaver.io</a>
				</td>
				<td>数据库客户端</td>
			</tr>
			<tr>
				<td>Tomcat</td>
				<td>
					<a href="http://tomcat.apache.org/" target="_blank">http://tomcat.apache.org/</a>
				</td>
				<td>tomcat官网下载中心，下载tomcat8或更高版本</td>
			</tr>
		</tbody>
	</table>
	<div class="tabTitleDiv">开发机可选</div>
	<p class="tabTitleLine"></p>
	<table class="across">
		<colgroup>
			<col style="width:3rem;"/>
			<col style="width:5rem;"/>
			<col/>
		</colgroup>
		<thead>
			<tr>
				<th>资源名称</th>
				<th>下载地址</th>
				<th>说明</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Dev Http Client</td>
				<td>
					<a href="../../edk4j-appends/Dev HTTP Client.7z" download target="_blank">点此下载</a>
				</td>
				<td>Chrome浏览器http调用插件，可对后台接口发起http调用，便于调试</td>
			</tr>
			<tr>
				<td>Maven</td>
				<td>
					<a href="https://maven.apache.org/download.cgi" target="_blank">https://maven.apache.org/download.cgi</a>
				</td>
				<td>Maven官网下载，如果eclipse中有maven插件时，可以不安装</td>
			</tr>
			<tr>
				<td>Redis Desktop Manager</td>
				<td>
					<a href="https://github.com/uglide/RedisDesktopManager/releases/tag/0.8.8" target="_blank">到github下载</a>
					<br>
					<a href="https://resp.app/" target="_blank">到官方网址下载</a>
				</td>
				<td>redis可视化管理客户端</td>
			</tr>
			<tr>
				<td>Eclipse操作界面语种包插件</td>
				<td>
					<a href="https://babel.eclipse.org/babel/" target="_blank">到官方网址下载</a>
				</td>
				<td>下载解压后直接复制到eclipse目录中完成安装，创建eclipse快捷方式，在尾部添加语种参数<br>例如中文可设置为：.../eclipse.exe -nl zh_CN</td>
			</tr>
		</tbody>
	</table>
	<div class="tabTitleDiv">测试服务器必备</div>
	<p class="tabTitleLine"></p>
	<table class="across">
		<colgroup>
			<col style="width:3rem;"/>
			<col style="width:8rem;"/>
			<col/>
		</colgroup>
		<thead>
			<tr>
				<th>资源名称</th>
				<th>下载地址</th>
				<th>说明</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Redis服务器</td>
				<td>
					<a href="https://redis.io/download" target="_blank">https://redis.io/download</a>
				</td>
				<td>redis官网下载中心，下载后在linux服务器部署</td>
			</tr>
			<tr>
				<td>ActiveMQ服务器</td>
				<td>
					<a href="http://activemq.apache.org/components/classic/download/" target="_blank">http://activemq.apache.org/components/classic/download/</a>
				</td>
				<td>activemq官网下载中心，下载linux版本并在linux服务器部署</td>
			</tr>
		</tbody>
	</table>
</body>
</html>