<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../../css/dom.css"/>
	<script type="text/javascript" src="../../../javascript/core/domUtil.js"></script>
	<style>
		blockquote {
		    padding: 0.1rem;
		    border-left: 0.1rem solid #eee;
		    font-size:0.2rem;
		    margin-left:0.05rem;
		}
	</style>
</head>
<body >
	<div id="title" class="titleDiv">
		EDK工作流引擎数据库表 -- 流程实例业务数据历史表ACTX_INSTANCE_BUSINESS_DATA_HISTORY
	</div>
	<div class="contentDiv">
		<blockquote>
			<p>流程实例完成后，业务数据会迁移到本表</p>
		</blockquote>
		<p style="padding:0.05rem;">
		</p>
		<table class="across">
			<colgroup>
				<col style="width:3rem;"><col style="width:3rem;"><col style="width:2rem;"><col style="width:1rem;"><col style="width:1rem;"><col>
			</colgroup>
			<thead>
				<tr>
					<th>字段名称</th>
					<th>字段描述</th>
					<th>数据类型</th>
					<th>主键</th>
					<th>为空</th>
					<th>取值说明</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>id</td>
					<td>主键ID</td>
					<td>bigint</td>
					<td>√</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>data_key</td>
					<td>字段名称</td>
					<td>varchar(128)</td>
					<td></td>
					<td>√</td>
					<td></td>
				</tr>
				<tr>
					<td>data_key_label</td>
					<td>字段中文名称</td>
					<td>varchar(128)</td>
					<td></td>
					<td>√</td>
					<td></td>
				</tr>
				<tr>
					<td>data_value</td>
					<td>字段值</td>
					<td>varchar(4000)</td>
					<td></td>
					<td>√</td>
					<td></td>
				</tr>
				<tr>
					<td>data_type</td>
					<td>类型</td>
					<td>varchar(32)</td>
					<td></td>
					<td>√</td>
					<td></td>
				</tr>
				<tr>
					<td>app_no</td>
					<td>所属ModeBase的ID</td>
					<td>varchar(32)</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>