<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../../css/dom.css"/>
	<script type="text/javascript" src="../../../javascript/core/domUtil.js"></script>
	<style>
		blockquote {
		    padding: 0.1rem;
		    border-left: 0.1rem solid #eee;
		    font-size:0.2rem;
		    margin-left:0.05rem;
		}
	</style>
</head>
<body >
	<div id="title" class="titleDiv">
		Activiti 数据库表结构 act_ru_identitylink 
	</div>
	<div class="contentDiv">
		<blockquote>
			<p>历史流程人员表( act_ru_identitylink )</p>
		</blockquote>
		<p style="padding:0.05rem;">
		</p>
		<table class="across">
			<colgroup>
				<col style="width:3rem;"><col style="width:3rem;"><col style="width:2rem;"><col style="width:1rem;"><col style="width:1rem;"><col>
			</colgroup>
			<thead>
				<tr>
					<th>字段名称</th>
					<th>字段描述</th>
					<th>数据类型</th>
					<th>主键</th>
					<th>为空</th>
					<th>取值说明</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ID_</td>
					<td>ID_</td>
					<td>nvarchar(64)</td>
					<td>√</td>
					<td></td>
					<td>ID_</td>
				</tr>
				<tr>
					<td>GROUP_ID_</td>
					<td>组ID</td>
					<td>nvarchar(255)</td>
					<td></td>
					<td>√</td>
					<td>组ID</td>
				</tr>
				<tr>
					<td>TYPE_</td>
					<td>类型</td>
					<td>nvarchar(255)</td>
					<td></td>
					<td>√</td>
					<td>备注4</td>
				</tr>
				<tr>
					<td>USER_ID_</td>
					<td>用户ID</td>
					<td>nvarchar(255)</td>
					<td></td>
					<td>√</td>
					<td>用户ID</td>
				</tr>
				<tr>
					<td>TASK_ID_</td>
					<td>节点实例ID</td>
					<td>nvarchar(64)</td>
					<td></td>
					<td>√</td>
					<td>节点实例ID</td>
				</tr>
				<tr>
					<td>PROC_INST_ID_</td>
					<td>流程实例ID</td>
					<td>nvarchar(64)</td>
					<td></td>
					<td>√</td>
					<td>流程实例ID</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>