<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		22.2.9、流程实例审计
	</div>
	<div class="contentDiv">
		进入菜单“工作流管理 >> 在途流程审计”，或着“工作流管理 >> 归档流程审计”，即可对所有在途的流程或者已归档的流程进行审计查看。
		<img src="../../image/business/22/22.2.9-1.png" style="margin:0 auto;display:table-cell;"/>
		<img src="../../image/business/22/22.2.9-2.png" style="width:100%;margin:0 auto;display:table-cell;"/>
		在“在途流程审计”中，可进行“挂起、中止”等操作；如果挂起了某个正在运行的流程实例，则无法对该流程实例下的环节进行办理操作。<br>
		在“归档流程审计”中，能查询其“流转历史”以及“业务数据”
	</div>
</body>
</html>