<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		22.2.7、为交易关联流程定义
	</div>
	<div class="contentDiv">
		进入菜单<label style="background:#ffff00;">“交易定义管理 >> 交易管理”</label>，点击“新增交易定义”或“修改”已有交易，在交易编辑页面中可以为具体的交易指定流程<br/>
		<img src="../../image/business/22/22.2.7-1.png" style="margin:0 auto;display:table-cell;"/>
		
		如上图所示，在操作页面中，你可以选择条件查询出待设置的交易，然后为其指定已设计好的流程。<br/>
		<label style="background-color:#ff0000;color:#ffffff;font-weight:bold;">注意：交易以及对应的流程，都要根据业务需求进行定制开发，并不是随意指定流程，随意指定的流程，一定走不通！</label>
	</div>
</body>
</html>