<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		22.3.7、附录：后台的接口清单
	</div>
	<div class="subTitleDiv addArrow">
		使用edk4j的可视化IDE生成，在“新建edk4j项目”，或者“添加edk4j支持”时，勾选“管理系统模板”，然后在生成的代码中，找到：
	</div>
	<div class="subContentDiv">
		workflowInstanceMvc.api以及workflowManageMvc.api
	</div>
	<div class="subTitleDiv addArrow">
		对应的逻辑位置：
	</div>
	<div class="subContentDiv">
		workflowInstanceBpm.bpm以及workflowManageBpm.bpm
	</div>
	<div class="subTitleDiv addArrow">
		所有对外接口，定义在前端mvc注册表文件中：
	</div>
	<div class="subContentDiv">
		src/main/webapp/javascript/config/workflow.mvc.config.js
	</div>
</body>
</html>