<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript">
		function init(){
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		22.3.9、附录：流程操作的html代码块，可以复制了嵌入到工作页面
	</div>
	<div class="contentDiv">
		下面这段，在编辑信息页面中使用，该div默认是隐藏的，可以在发起流程后显示出来，或者判定如果是从“待办任务”处进入的就显示出来。
		<pre class="prettyprint lang-html" id="codeShow1" style="font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
&lt;div id="workFlowTable" style="display:none;"&gt;
	&lt;table&gt;
		&lt;colgroup&gt;
			&lt;col style="width:3rem;"/&gt;
			&lt;col style="width:2rem;"/&gt;
			&lt;col/&gt;
		&lt;/colgroup&gt;
		&lt;tbody&gt;
			&lt;tr id="appNoTr"&gt;
				&lt;td style="text-align:right;"&gt;工单编号：&lt;/td&gt;
				&lt;td id="appNoTd"&gt;
				&lt;/td&gt;
				&lt;td&gt;
					&lt;a href="javascript:viewHistory();"&gt;查看流转历史&lt;/a&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td style="text-align:right;"&gt;流程申请意见：&lt;/td&gt;
				&lt;td colspan="2"&gt;
					&lt;textarea id="auditMessageTA" style="width:3rem;height:1rem;" placeholder="不能为空，256字以内"&gt;&lt;/textarea&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td style="border-right:0;"&gt;&lt;/td&gt;
				&lt;td id="operationTd" colspan="2" style="border-left:0;"&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
	&lt;div class="kindlyReminder"&gt;
		温馨提示：
		&lt;div&gt;如果不发送审批，下次可以在“待办任务”中进入该工单继续处理！&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
		</pre>
	</div>
	<div class="contentDiv">
		下面这段，在授权审批页面使用
		<pre class="prettyprint lang-html" id="codeShow2" style="font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
&lt;table id="workFlowTable"&gt;
	&lt;colgroup&gt;
		&lt;col style="width:3rem;"/&gt;
		&lt;col style="width:2rem;"/&gt;
		&lt;col/&gt;
	&lt;/colgroup&gt;
	&lt;tbody&gt;
		&lt;tr id="appNoTr"&gt;
			&lt;td style="text-align:right;"&gt;工单编号：&lt;/td&gt;
			&lt;td id="appNoTd"&gt;
			&lt;/td&gt;
			&lt;td&gt;
				&lt;a href="javascript:viewHistory();"&gt;查看流转历史&lt;/a&gt;
			&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;td style="text-align:right;"&gt;审批意见：&lt;/td&gt;
			&lt;td colspan="2"&gt;
				&lt;textarea id="auditMessageTA" style="width:3rem;height:1rem;" placeholder="不能为空，256字以内"&gt;&lt;/textarea&gt;
			&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;td style="border-right:0;"&gt;&lt;/td&gt;
			&lt;td id="operationTd" colspan="2" style="border-left:0;"&gt;&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;
		</pre>
	</div>
</body>
</html>